section#sec-equidistribution-intro
    title Equidistribution in Number Theory

    introduction
        aside: p Lecture 1 6/9/2018
        p.
            These are notes for Ali Altuğ's course MA841 at BU Fall 2018.

        p.
            The course webpage is #[url(href="http://math.bu.edu/people/saaltug/2018_3/2018_3_sem.html")/].
        p.
            Course overview:

            Upon Akshay Venkatesh winning the fields medal I decided to dedicate this term to various aspects of equidistribution results in number theory and their relations to L-functions. I am aiming to cover basic results like Linnik's and Duke's theorems, as well as certain aspects of subconvexity. As we move along we may briefly touch several other aspects like quantum unique ergodicity (QUE) or equidistribution in other settings (e.g. over function fields).

            There is an abundance of material on this topic. We will not follow a single book or an article (although the first book and the survey articles following that will be the main reference), however here are a bunch of helpful papers/books. I will update these references as we move along.

    subsection#subsec-equidistribution-introduction
        title Introduction

        blockquote
            p I wasn't going to do this at all, but then Akshay won the Fields medal.
            attribution
                line Ali Altuğ

        p
            | Some topics we will try and cover:
            ol
                li
                    | Linnik's and Duke's theorem 1970-1990
                li
                    | lattice points and hyperbolic geometry
                li
                    | modular forms
                li
                    | spectral theory
                li
                    | modular forms of half-integral weight.
                li
                    | harmonic analysis
                li
                    | Kuznetsov formula
                li
                    | Other topics!

    subsection#subsec-linnik-duke
        title Linnik and Duke

        p
            | Akshay's first breakthrough, according to Sarnak, was subconvexity.
            | He became interested in ergodic theory, because they could prove hard theorems, equidistribution is a powerful tool in number theory.

        p
            | Our main goal will be to talk about: Some problems stated (and proved) by Linnik.
            | In the book, Ergodic properties of algebraic fields, 1968.
            | He considered lattice points on a sphere of radius #[m n], these are points (say in #[m \RR^3]) whose coordinates are integral of a fixed distance from the origin.
            | Analogous to the circle problem.
            | If #[m n] is fixed there is nothing to distribute, but if we vary #[m n] and project down we can ask do they accumulate miss any patches, generally how do they distribute.

            | Of course this can be generalised.

        paragraphs
            title Setup

            p
                | Sphere #[m S^2].
            p
                | Lattice points #[m \alpha = (x_1, x_2, x_3) \in \ZZ^3].
            p
                me |\alpha|^2 =  x_1^2 + x_2^2 + x_3^2
                | this is where the number theory comes, we are looking at representability of numbers #[m n] by this ternary quadratic form.
            p
                | Various methods exist for studying this for varying #[m n], quadratic reciprocity for #[m n=2], circle method/Vinogradov for #[m n=4].
                | #[m n=3] is the cut off, here half-integral weight modular forms are relevant.

            p
                | Set
                me \Omega_N = \left\{x= \frac{\alpha}{|\alpha|} : \alpha \in \ZZ^2 ,\,|\alpha|^2 = N \right\}\subseteq S^2
                | .

        question
            statement: p
                | Are #[m \Omega_N] #[q equidistributed]  as #[m N \to \infty]?

        p
            | There is an immediate obstruction to #[m N] being a sum of #[m 3] squares, e.g. #[m N = 7] implies #[m \Omega_7 = \emptyset].
        p
            | Recall: (Gauss/Legendre)
            me N = x_1^2 + x_2^2+ x_3^2,\,x_i \in \ZZ \iff N \ne 4^a(8b+7)
            | , so we avoid these sets and ask the same question.

        theorem#thm-linnik
            title Linnik
            statement: p
                | Let #[m f \in \cinf(S^2)], then as #[m N \to \infty], #[m N] squarefree #[m N \not\equiv 7 \pmod 8], #[m \legendre{N}{p} = 1] for some fixed odd prime #[m p]
                me \frac{1}{\# \Omega_N} \sum_{x\in \Omega_N} f(x) \to \int_{S^2} f\diff \sigma
                | where #[m \diff \sigma] is the Lebesgue measure on #[m S^2].

        p
            | This is saying that the points are equidistributed with respect to the Lebesgue measure.

        p
            | The last condition is a defect of the method, known as a Linnik condition.

        remark: p
            | Linnik's proof is ergodic theoretic.
        p
            | After this came Duke in 1988, in the mean time, Weil conjectures were proved, Iwaniec gave bounds for Kloosterman sums.
            | Duke was a graduate student of Sarnak at Courant.

            | He gave a more direct proof of #[xref(ref="thm-linnik")/] which does not have the #[m \legendre{N}{p} = 1] condition.
            | His proof is based on the theory of (half-integral weight) modular forms, and a good bound Iwaniec on certain exponential sums.

        p
            | Why do exponential sums enter the picture?
            | We are trying to prove that we have a sum converging to an integral.
            | Generally we work with a basis of functions first, we could try using fourier analysis, using harmonics as our basis, this is when exponential sums appear.
            | That requires us to work out harmonics on the sphere (spherical harmonics) which leads to representation theory, which as the sphere is compact involves Weyl representations etc.
        p
            | Duke also proved #[q the same] theorem over  modular surfaces.
            | Instead of looking at expanding spheres we study expanding hyperboloids.


        paragraphs
            title Setup

            p
                | Space
                me \pm \Gamma\backslash \HH
                me \HH = \left\{ x+iy \in CC : y \gt 0\right\}
                me \Gamma = \SL_2(\ZZ)
                me \mathcal F = \left\{ z\in \HH : -\frac12 \le \Re(z) \le 0, |z| \ge 1 \text{ or }\frac12 \gt \Re(z) \gt 0, |z| \gt 1 \right\}
            figure
                caption #[m \mathcal F]
                image: latex-image.
                    <![CDATA[
                    \begin{tikzpicture}
                        \draw[thick] (-7,0) -- (7,0);
                        \filldraw[fill=gray!20!white, draw=gray!20!white] (1.5,7) -- (1.5,2.598076211) arc (60:120:3cm) -- (-1.5,7) -- (1.5,7);
                        \draw[thick,dotted] (4.5,0) -- (4.5,7);
                        \draw[thick,dotted] (-4.5,0) -- (-4.5,7);
                        \draw[thick,dotted] (6,0) arc (0:180:3cm);
                        \draw[thick,dash dot] (1.5, 2.598076211) -- (1.5,7);
                        \draw[thick,dotted] (1.5, 2.598076211) -- (1.5,0);
                        \draw[thick] (-1.5, 2.598076211) -- (-1.5,7);
                        \draw[thick,dotted] (-1.5, 2.598076211) -- (-1.5,0);
                        \draw[thick,dash dot] (1.5, 2.598076211) arc(60:90:3cm);
                        \draw[thick] (0, 3) arc(90:120:3cm);
                        \draw[thick,dotted] (3,0) arc (0:60:3cm);
                        \draw[thick,dotted] (-1.5, 2.598076211) arc (120:180:3cm);
                        \draw[thick,dotted] (6,0) arc (0:180:3cm);
                        \draw[thick,dotted] (0,0) arc (0:180:3cm);
                        \draw[thick,dotted] (3,0) arc (180:90:3cm);
                        \draw[thick,dotted] (-3,0) arc (0:90:3cm);
                        \draw[thick,dotted] (0,0) arc (0:180:1cm);
                        \draw[thick,dotted] (-3,0) arc (180:0:1cm);
                        \draw[thick,dotted] (-3,0) arc (0:180:1cm);
                        \draw[thick,dotted] (-6,0) arc (180:0:1cm);
                        \draw[thick,dotted] (0,0) arc (180:0:1cm);
                        \draw[thick,dotted] (3,0) arc (0:180:1cm);
                        \draw[thick,dotted] (3,0) arc (180:0:1cm);
                        \draw[thick,dotted] (6,0) arc (0:180:1cm);
                        %\node at (0, 5){$D_w\f M\g$};
                        \node at (0,-.35){$0$};
                        \node at (1.5,-.35){$\frac{1}{2}$};
                        \node at (3,-.35){$1$};
                        \node[inner sep=1.5pt, circle, fill=black]  (p) at (0,3) {};
                        \node at (.15,3.2){$i$};
                        \node[inner sep=1.5pt, circle, fill=black]  (p) at (0,6) {};
                        \node at (.7,6.2){$w=ki$};
                        \node[inner sep=1.5pt, circle, fill=black]  (p) at (1.5,2.598076211) {};
                        %\node at (1.75,2.2){$v_2$};
                        \node at (1.3, 3){$\frac{\pi}{3}$};
                        \node[inner sep=1.5pt, circle, fill=black]  (p) at (-1.5,2.598076211) {};
                        %\node at (-1.25,2.2){$v_1$};
                        \node at (-1.3, 3){$\frac{\pi}{3}$};
                    \end{tikzpicture}
                    ]]>

            p
                | #[m \Omega_N]'s are now replaced with CM points.

        paragraphs
            title Digression (CM points)

            p
                | #[m Q] a binary quadratic form
                me Q(x,y) = ax^2+ bxy + cy^2
                | of discriminant #[m d = b^2-  4ac \lt 0], #[m a,b,c\in \ZZ].
                // TODO do we need a gt 0 here?!

            theorem
                title Gauss
                statement: p
                    | There are only finitely many equivalence classes of such forms for fixed  #[m d].

            p
                | The number of such is given by the Hurwitz class number.
            p
                | Given #[m Q] we associate a CM point
                me z_Q = \frac{-b + \sqrt{d}}{2a} \in \HH
                | .

            p
                | The action of #[m \Gamma] on #[m Q] is the same as the action of #[m \Gamma] on #[m z_Q].
                me z_{\gamma Q }  =\gamma z_Q
                |.

            p
                | Let
                me \Lambda_d  = \{z_Q \in \mathcal F : \disc(Q) = d\}
                | .

            p
                | We need to sum properly to take automorphisms into account.

            definition
                statement: p
                    me \sum{\vphantom{\sum}}^*_{z_Q \in \Lambda_d}
                    | is the sum weighted by #[m \frac 12] if #[m Q = a(x^2+ y^2)] (#[m d= -4]), #[m \frac 13] if #[m Q = a(x^2+ xy+y^2)] (#[m d= -3]).

            p
                | If we want to be fancy we can say the word stack here.

            remark
                p
                    me \sum_{z_Q \in \Lambda_d}{\vphantom{\sum}}^*1 = H(d)
                    | where #[m H(d)] is the Hurwitz class number.


            remark
                p
                    | If #[m d] is fundamental, i.e. a discriminant of some #[m \QQ(\sqrt{d})] then #[m H(d) = h(d)] the regular class number.

        p
            | For the measure on #[m \mathcal F] we take
            me \diff\mu = \frac 3\pi \frac{\diff x \diff y}{y^2}
            |.

        theorem#thm-duke
            title Duke
            statement: p
                | Let #[m f \in \cinf(\HH)], that is #[m \Gamma] invariant and bounded on #[m \mathcal F],  then as #[m d \to \infty] over fundamental discriminants
                me \frac{1}{\# \Lambda_d} \sum_{z\in \Lambda_d}{\vphantom{\sum}}^* f(z) \to \iint_{\mathcal F} f\diff \mu
                | .

        p
            | Equidistribution implies density, but is so much more, for example we cannot have dense points but which happen to cluster towards some line for example.

    subsection#subsec-equidist-basics
        title Basics

        aside: p Lecture 2 11/9/2018

        p
            | Question: Let #[m \alpha \in \RR] and consider #[m \{ \alpha n \}] where #[m \{ x \} = x \pmod 1] so #[m \left\{\frac32\right\} = \frac 12].
            | How are these distributed?

        example
            statement: p
                | If #[m \alpha = \frac 27] then we have #[m \{ \{\alpha n \} : n \in \NN\}  = \{\frac i7 : i \in \{0,\ldots, 6\}\}] and in fact it hits each evenly.


        example
            statement: p
                | If #[m \alpha = \sqrt 2] so #[m \{\alpha\}  \approx 0.4142?...] #[m \{\alpha2\}  \approx 0.8284?...] #[m \{\alpha3\}  \approx 0.24264...] #[m \{\alpha4\}  \approx 0.656854..].
                | These spread out densely, but there is a difference between density and equidistribution.
                | In this example, equidistribution says that the proportion of time the sequence spends in each interval #[m (a,b)] is #[m b -a].

        p
            | So questions are: is #[m \{n\alpha\}] dense?
        p
            | Is #[m \{n \alpha\}] uniformly distributed (equidistributed with respect to the standard measure)?
        p
            | The answer to both questions is yes.

        theorem
            title Kronecker
            statement: p
                | Let #[m \alpha \in \RR\smallsetminus \QQ] then #[m \{n \alpha\}] is dense in #[m \lb 0,1)].

        paragraphs
            title Digression (Diophantine approximation)

            p
                | This is a very tough area of number theory, not so many definitive results here.

            theorem
                title Dirichlet
                statement: p
                    | Let #[m \alpha \in \RR,N\in \ZZ_{\gt 0}] then there exists #[m p,q] with #[m q \gt 0].
                    me \left| q\alpha - p \right| \lt \frac 1N
                    | .
                proof: p
                    | (Pidgeonhole) divide #[m \lb 0, 1)] into even #[m N] subintervals of width #[m \frac 1N], consider
                    me \alpha_0 = 0,\alpha_1 = \left\{ \alpha 1\right\}, \alpha_2 = \left\{ \alpha 2\right\}, \ldots\in \lb 0,1)
                    | as soon as we get to #[m \alpha_N] we must have two in one subinterval say #[m |\alpha_{n_1} - \alpha_{n_2}| \lt \frac 1N].
                    | So there exists #[m p_{n_1}, p_{n_2}] such that
                    me | n_1 \alpha - k_{n_1} - (n_2\alpha - k_{n_2}) | \lt \frac1N
                    me | (n_1  - n_2)\alpha -( k_{n_1} - k_{n_2}) | \lt \frac1N
                    | .

            corollary
                statement: p
                    | Let #[m \alpha \in \RR\smallsetminus \QQ] then there exists infinitely many coprime #[m p,q] with #[m q \gt 0] satisfying
                    me \left| \alpha - \frac pq \right| \lt \frac {1}{q^2}
                    | .
                proof: p Exercise.

            p
                | This is very strong, Roth's theorem tells us that even #[m q^{2+\epsilon}] here is enough to force finiteness.

            note: p
                | #[m \alpha \not \in \QQ] is necessary! Otherwise
                me \left | \frac{p_0}{q_0} - \frac pq \right| = \left | \frac{p_0q - pq_0}{qq_0} \right| \ge \frac{\left | p_0q - pq_0 \right|}{\max \left\{q^2 ,q_0^2 \right\}}
                | so choose #[m q \gt q_0] implies #[m \frac {p_0}{q_0} = \frac pq].

            p
                | One can do better:

            theorem
                title Hurwitz
                statement: p
                    | Let #[m \alpha \in \RR\smallsetminus \QQ]
                    me \left| \alpha - \frac pq \right| \lt \frac {1}{\sqrt 5q^2}
                    | then there exists infinitely many coprime #[m p,q] with #[m q \gt 0] satisfying.

            note: p
                | #[m \sqrt 5] is the best possible without further restriction on #[m \alpha].

            example: statement: p
                | If #[m \alpha = \frac{1- \sqrt 5}{2}] then
                me \left| \alpha - \frac pq \right| \lt \frac {1}{Aq^2}
                | has only finitely many solutions for #[m A \gt \sqrt 5].

            p
                | What if we allow further restriction?

            theorem
                title Liouville
                statement: p
                    | Let #[m \alpha \in \RR] algebraic of degree #[m n \gt 1].
                    | Then there exists #[m A \gt 0] such that for all #[m p,q] with #[m g \gt 0]
                    me \left| \alpha - \frac pq \right| \gt \frac {A}{q^n}
                    | .
                proof: p
                    | Let #[m f \in \ZZ\lb x \rb] be the minimal polynomial of #[m \alpha].
                    | Gauss's lemma implies that #[m f] is irreducible over #[m \QQ] so
                    me q^n f\left(\frac pq\right)  \in \ZZ \smallsetminus\{0\}\,\forall \frac pq\in \QQ
                    | .
                    | The mean value theorem says that there exists #[m x_0 \in \lb \alpha , p/q )] s.t.
                    me \frac{f(p/q) - \cancelto{0}{f(\alpha)}}{p/q - \alpha} = f'(x_0)
                    | so
                    me \frac{q^nf(p/q) }{q^n f'(x_0)} = |p/q - \alpha|
                    | , notice how #[m n] appears here.

            p
                | This theme of using some calculus is repeated across diophantine analysis.

            remark
                p
                    ul
                        li
                            | Thue: can replace #[m n] with #[m (\deg(\alpha) + 2)/2]
                            | (This already has implications to integral solutions of degree #[m \ge 3] polynomials #[m f \in \ZZ\lb x \rb], e.g. elliptic curves with bounded integral discriminant)
                        li
                            | Roth (#[m \sim] 1958): for all #[m \epsilon \gt 0 ], there are only finitely many #[m p/q] satisfying
                            me | \alpha - \frac pq| \lt  \frac{1}{q^{2+\epsilon}}
                            | .

        paragraphs
            title Back to equidistribution

            p
                | #[m a_n =  \left\{n \alpha\right\} , \left\{a_n\right\}_{n=1}^\infty].

            theorem
                title Kronecker
                statement: p
                    | #[m a_n] is dense in #[m \lb 0,1)] if #[m \alpha \not \in \QQ].
                proof: p
                    | Will show for any #[m x \in \lb 0,1)] there exists
                    me \left\{ a_{n_j}\right\}_{j=1}^\infty\text{ s.t. } a_{n_j} \to x
                    | .
                    | Notation #[m \| x\|] means the distance to the nearest integer.

                    | Dirichlet implies that infinitely many #[m p/q] have #[m \alpha - p/q| \lt 1/q^2].
                    // TODO xref
                    | Given #[m \epsilon \gt 0] let  #[m q] be such that
                    me | \alpha - \frac pq |  \lt \frac{1}{q^2} \implies | q\alpha - p| \lt \frac 1q
                    me \frac 1q \lt \epsilon
                    | Choose #[m j] such that #[m j (\alpha q- p)] is within #[m 1/q] of #[m x] (why?).
                    | So
                    me \| j(\alpha q - p ) -x\| \lt \frac 1q \lt \epsilon
                    |. (Fill in the gaps here).

            p
                | Now let's define what is means to be uniformly distributed.

            definition#def-unif-dist
                title Uniformly distributed sequence
                statement: p
                    | #[m a_1, a_2, \ldots] is called #[term uniformly distributed] if for all #[m (b,c) \subseteq \lb 0,1)]
                    me \#\left\{ n \le N : \left\{ a_n\right\} \in (b,c) \right\} \sim N(c-b)
                    | or
                    me \lim_{N \to \infty} \frac{\#\left\{ n \le N : \left\{ a_n\right\} \in (b,c) \right\}}{N} = c-b
                    | .

            p
                | Uniformly distributed or not?
            p
                | When #[m \alpha \in \RR \smallsetminus \QQ]:  #[m \{ n\alpha \}], #[m \{ n^2\alpha \}], #[m \{ (3n^2 + 2n + 1)\alpha \}] #[m \{ (\sqrt 5 n^3  + 2n - (\zeta_{10} + \bar \zeta_{10}))\alpha \}] all are.
            p
                | #[m  \{ n! e \}],  #[m \{\log(n)\}] and #[m \{ \log (p_n)\}] are not.

        aside: p Lecture 3 13/9/2018

        example
            title Several
            p
                ol
                    li
                        | #[m \alpha\in \RR\smallsetminus\QQ,\,a_n = \{n\alpha\}]. Yes
                    li
                        | #[m \alpha\in \RR\smallsetminus\QQ,\,a_n = \{n^2\alpha\}]. Yes
                    li
                        | #[m a_n = \{\log(n)\}]. No
                    li
                        | #[m a_n = \{n! e\}]. No (not dense).
                    li
                        | #[m \{ \log (p_n)\}]. No.
                    li
                        | #[m a_n = \{\sqrt{n}\}]. Yes.
                    li
                        | #[m a_n = \{e^n\}]. ?
                    li
                        | #[m a_n = \{\log n!\}]. Yes ?
                    li
                        | #[m a_n = \{\log \log n!\}]. No

            p
                | To begin let's show #[m a_n = \{n!e\}] is not equidistributed as it has only one limit point #[m 0].
                me e = \sum_{n=1}^\infty \frac{1}{n!}
                | so #[m n!e \in \ZZ + \frac{1}{n+1} + \frac{(n+1)(n+2)} + \cdots \le \frac{e}{n+1} \to 0], as #[m n\to \infty].
                | So its not dense, hence certainly not equidistributed.

        theorem
            statement: p
                | The sequence #[m a_n = \{ n\alpha\}] is equidistributed.
            proof
                p
                    | Let #[m \epsilon\gt 0], choose #[m M \gt 0] such that #[m \frac1M\lt \epsilon], furthermore choose a #[m \delta \lt \frac1M].
                    | Dirichlet implies there exists #[m m \in \ZZ] s.t. #[m \| m\alpha\| = \delta].
                    me  0\lt \delta \lt \frac1M \lt\epsilon
                    | recall #[m \| x\|] is the distance to the nearest integer.

                    | Consider the set #[m S_i = \left\{ \{n \alpha\} : n \lt N,\,n \equiv i \pmod m\right\}] then
                    me S = \{ \{n \alpha\} : n\lt N \}  = \bigsqcup_{i=1}^m S_i
                    | moreover,
                    me S_i =  \{\{ km\alpha + i\alpha\}  : 0 \le k \le N_i\}
                    | where
                    me N_i = \frac Nm + O(1)
                    | (why is the #[m O(1)] here?).
                    | We can rewrite these #[m S_i] as follows:
                    me S_i = \{ \delta k + \gamma_i \pmod 1 : 0 \le k \le N_i\}
                    | where
                    me.
                        \begin{cases} i\alpha \pmod 1 \amp \text{ if } \delta  = \{ m\alpha \} \\
                                      i\alpha - \delta (N_i + 1)\pmod 1 \amp \text{ if } \delta  = 1 - \{ m\alpha \} \\
                        \end{cases}

                    | replace #[m k] by #[m N_i  + 1-k ].
                p
                    | Now #[m 0 \le \gamma \lt 1] and let
                    me K_i = \lfloor \delta N_i + \gamma_i \rfloor
                    me \# \{ k \lt N_i : \{ \delta k + \gamma_i \} \in \lb b,c\rb \} = \sum_{j=0}^{K_i} \# \{k \le  N_i : \delta k + \gamma  \in [j+b,j+c] \}
                    me = (K_i + O(1)) \left(\frac{c-b}{\delta} + O(1) \right)
                    me N_i(c-b) + O\left( \frac {c-b}{\delta} + \delta N_i + 1 \right)
                    | so
                    me S =  \bigsqcup_{i=1}^m S_i
                    me \# S = N(c-b) + O\left( \frac M\delta + \delta N \right)
                    | (check!).
                    | Finally choose #[m N \gt \frac{M}{\delta^2}].
                    | So that
                    me \frac{M}{\delta} + \delta N \lt \epsilon N
                    | .
                    | Which implies
                    me \# \{ n \lt N : \{n\alpha \} \in [b,c] \}  =\#S =N(c-b) + \epsilon N
                    |.

        p
            | We followed our nose essentially, but we needed to put ourselves in a favourable position so that we can get a good handle on the error.

        example
            title 10

            statement: p
                | Consider the sequence
                me b_{m,i} = \frac i m
                | and define
                me a_{\binom{m}{2} + i } = b_{m,i}
                | so that
                me b_{m,i}
                me 0,1
                me 0,\frac 12 , 1
                me 0,\frac 13 ,\frac 23, 1
                me 0,\frac 14 ,\frac 24,\frac 34, 1
                me a_m = 0,1, 0,\frac 12 , 1, 0,\frac 13 ,\frac 23, 1, 0,\frac 14 ,\frac 24,\frac 34, 1
                | this is uniformly distributed!

        exercise
            statement: p
                | Prove this (in a similar way to before).

        proposition
            statement: p
                ol
                    li
                        | Any sequence has a rearrangement that is not uniformly distributed.
                    li
                        | Any dense sequence has a rearrangement that is uniformly distributed.
            proof: p
                ol
                    li
                        | If not sense we are done already.
                        | Otherwise let #[m I_1 = \lb 0, \frac 12) ,I_2 = \lb\frac 12, 1\rb]
                        | Let #[m X = \{a_n \in I_1\}, Y = \{a_n \in I_2\}], so both sets are infinite.
                        | Let #[m b_n  = x_1, \ldots, x_{10^{10}}, y_1, x_{10^{10} + 1}, \ldots, x_{20^{20}},\ldots]
                        | so #[m \# \{n:b_n  \in \lb4/5,1\rb \}  \sim \frac{N}{10^{10}}].
                    li
                        | If #[m a_n] is dense then, let
                        me b_{n,i} = a_m \text{ s.t. } \frac{i-1}{n} \lt a_m \lt \frac in
                        | by the example above this is equidistributed.

        p
            | What can we say about the space of uniformly distributed sequences?
            | Is it closed under addition? No (#[m a_n = -b_n]).
            | #[m \{k a_n\}] neither (#[m a_n = \alpha n,\,\frac1\alpha a_n = n]).
            | #[m a_nb_n] doesn't work either, but if #[m b_n] converges then #[m a_nb_n] is uniformly distributed.

    subsection
        title Weyl's criterion (1916)

        aside: p Lecture 4 18/9/2018
        theorem#thm-weyl-criterion
            title Weyl's criterion
            statement: p
                | #[m \{a_n\}_{n=1}^\infty \in \RR] then TFAE:
                ol
                    li
                        | #[m \{a_n\}_{n=1}^\infty] is uniformly distributed mod #[m 1].

                    li
                        | #[m \forall f \in C(\lb 0,1\rb)]
                        me \lim_{N\to \infty} \frac 1N \sum_{n=1}^N f(\{a_n\}) = \int _0^1 f \diff x
                        | .
                    li
                        me \lim_{N\to \infty} \frac 1N \sum_{n=1}^N e(ma_n) = \delta_m,\, \forall m \in \ZZ
                | where #[m e(x) = e^{2\pi i x}],
                me \delta_m = \begin{cases} 0 \amp m \ne 0 \\ 1 \amp m = 0 \end{cases}
                | , collectively this is known as #[term Weyl's criterion].
            proof
                proofcase
                    title  #[m 1.\implies 2.]
                    p
                        | #[m 1.] means #[m 2.] is true for the characteristic function of #[m \lb b,c\rb], hence true for step functions (because everything is linear).
                    p
                        | Recall that any #[m f \in C\lb 0,1\rb)] is the uniform limit of such functions.
                    p
                        | Exercise: Choose one that is #[m \epsilon] close to #[m f] and finish the proof.

                proofcase
                    title  #[m 2.\implies 1.]
                    p
                        | Find #[m f_1,f_2 \in C(\lb 0,1 \rb)] such that #[m f_1(x) \le \chi_{(b,c)}(x) \le f_2(x)] s.t.
                        me \int f_1 - \chi_{(b,c)}) \le \epsilon
                        | Exercise, finish this proof.
                proofcase
                    title  #[m 2.\implies 3.]
                    p
                        | Obvious.
                proofcase
                    title  #[m 3.\implies 2.]
                    p
                        | Recall Fejér's theorem that #[m f\in C\lb 0,1 \rb)] is the uniform limit of its fourier series.
                        | Pick an #[m n \in \NN] s.t.
                        me f_n(x) - \epsilon \le f(x) \le f_n(x) + \epsilon
                        | .
                    p
                        | Exercise, finish this proof.


        p
            | Using this we can tackle more examples, e.g.:
            ol
                li #[m \{\alpha p_n\}], #[m n]-th primes, #[m \alpha\in \RR\smallsetminus \QQ].
                li #[m \{\sqrt{n}\}]
                li #[m \{\log(n)\}]
                li #[m \{\log(p_n)\}]
                li #[m \{\beta^n\}], #[m \beta \in \RR].
                li #[m \{\alpha a_n\}], #[m a_n \in \ZZ]

    subsection
        title Some applications of Weyl's criterion

        paragraphs
            title Application 1
            p
                | #[m \{n \alpha \}] is uniformly distributed iff #[m \alpha \in \RR\smallsetminus \QQ].
                | Let
                me S_N(h,\alpha) = \sum_{n=0}^N e(h\alpha n)
                |then
                me S_N(h,\alpha) = \frac{e((N+1) h\alpha) - 1}{e(h\alpha)  - 1}
                | .
                | Then #[m e(h\alpha ) - 1 \ne 0] for all #[m h \in \ZZ\smallsetminus \{0\} ] iff #[m \alpha \not \in \QQ] so #[m S_N(h,\alpha ) = O_{h,\alpha}(1) ] iff #[m \alpha \not \in \QQ].
                | So #[m \lim_{N \to \infty} S_N(h,\alpha)  = 0,\,\forall h \ne  0 \iff \alpha\not \in \QQ].
                | And #[m S_N(0,\alpha) = N+1] which implies
                me \lim_{N\to \infty} \frac1N S_N(0,\alpha) = 1
                | so by Weyl's criterion #[m \left\{ n\alpha \right\}] is uniformly distributed if #[m \alpha \not \in \QQ].

        paragraphs
            title Digression

            theorem
                title Vinogradov 1937
                statement: p
                    | #[m \{ \alpha p_n\} ] is uniformly distributed iff #[m \alpha \not \in \QQ].
            p
                | He actually showed weak Goldbach conjecture, Every (sufficiently large) #[em odd] integer is a sum of 3 primes.
                | No bound by Vinogradov, Borozdin gave a large bound, Helfgott brought it down to reality.

        paragraphs
            title Application 2
            p
                me \{\beta^n \}
            theorem
                title Koksma 1935
                statement: p
                    | For almost every (Lebesgue) #[m \beta\in \RR_{\gt 1}], #[m \left\{\beta^n\right\}] is equidistributed.
            p
                | Koksma was a Dutch student of Van der Corput.

            theorem
                title Weyl
                statement: p
                    | Let #[m |a_n| \to \infty] be a sequence of distinct integers, the set of #[m \alpha \in \RR] such that #[m \alpha a_n] is not uniformly distributed has Lebesgue measure 0.

        paragraphs
            title Application 3
            p
                me \{\log(n) \}
                | is not equidistributed.
            exercise
                statement: p
                    | Prove this.
                    | Hint : assume it was
                    me \# \{ n \lt 1001 N : \} =\# \{ n \lt 1000N : \} + \# \{1000N \le n \le 1001 N : \}
                    | then
                    me \log(n) - \log(100N + n_1) = \log(1000N) + \log (1+ n_1/1000N)

        paragraphs
            title Application 4
            p
                me \{\sqrt{n} \}
            p
                | Before this, lets introduce
            definition#def-discrepancy
                title Discrepancy
                statement: p
                    | Let #[m a_n \in \lb0,1)] be a sequence and #[m N\in \ZZ_{\ge 0}] we define
                    me D_N = \sup_{0\le b\le c \le 1}\left\{ \left| \frac{\# \{n \lt N : a_n \in [b,c ]\}}{N}  - (c-b)\right| \right\}
                    | .

            p
                | Some useful lemmas:
            lemma
                statement: p
                    | Let
                    me D_N^*= \sup_{0\le c \le 1}\left\{ \left| \frac{\# \{n \lt N : a_n \in [0,c ]\}}{N}  - c \right|\right\}
                    | then
                    me D_N^* \to 0 \iff D_N \to 0
                    | .
                proof
                    p
                        | Exercise (hint squeeze).

            lemma
                statement: p
                    | #[m a_n] is uniformly distributed #[m  \iff  D_N \to 0 \iff D_N^* \to 0].
                proof
                    p
                        | Ommitted/exercise, 2.1.1 of Kuipers and Niederreiter.

            p
                | For #[m \sqrt{n}] now.
                me S_N(c) = \# \{ n \le N : 0 \le \{ \sqrt n \} \le c\}
                | .
            note
                p
                    | If #[m d = \lfloor \sqrt{n} \rfloor] then
                    me \sqrt n =  d + \{ \sqrt n \}
                    | and #[m d \le \sqrt n \le d+ 1] and #[m \#\{ n :  d \le \sqrt  n \le d+ 1\} = 2d+ 2].
            p
                | Similarly
                me  \# \{ n : d \le \sqrt n \le d + \alpha \} = 2\alpha d + \alpha^2 + 1
                | then
                me S_N(\alpha) = \sum_{j=0}^{\lfloor \sqrt N \rfloor} \# \{ n : j + \alpha \le \sqrt n\le j + \alpha\}
                me             = \sum_{j=0}^{\lfloor \sqrt N \rfloor} 2\alpha d + \alpha^2 + O(1)
                me = 2\alpha  \frac{ \lfloor \sqrt N \rfloor (\lfloor \sqrt N \rfloor + 1)}{2} + O(\sqrt N) = \alpha N + O(\sqrt N)
                | so
                me D_N^* = \sum_{0\le \alpha \le  1} \left\{ \left| \frac{S_N(\alpha)}{N} -\alpha \right| \right\} = \sup_{0\le \alpha \le 1 } O_\alpha (1/\sqrt{N}) = O(1/\sqrt N)
                | .
            exercise
                statement: p
                    | Make the dependence on #[m \alpha ] explicit and make the proof rigorous.



        paragraphs
            title Application 5
            aside: p Lecture 5 20/9/2018
            proposition
                statement: p
                    me \{\log(p_n) \}
                    | is not equidistributed.
                proof
                    p
                        | Assume otherwise, let #[m k \in \ZZ_{\gt0}].
                        me I_k = \min\{ n : p_n \gt e^k \}
                        me I_{k-1/2} = \min\{ n : p_n \gt e^{k-1/2} \}
                        me \chi_{\lb 0,1/2)} = \text{char. fn. of }\lb 0, 1/2)
                        | .
                    p
                        | Consider
                        me S_k = \sum_{n \lt I_k} \chi_{\lb 0,1/2)} ( \{\log (p_n) \} )
                        me S_{k-1/2} = \sum_{n \lt I_{k-1/2}} \chi_{\lb 0,1/2\rb} ( \{\log (p_n) \} )
                    p
                        | Note that #[m S_k = S_{k-1/2}].
                    p
                        | If uniformly distributed
                        me \lim_{k\to \infty} \frac{S_k}{I_k} = \lim_{k\to \infty} \frac{S_{k-1/2}}{I_{k-1/2}} = L
                        me L\gt 0 \implies I_{k}/I_{k-1/2} \to 1
                        |.
                    p
                        | But the prime number theorem says
                        me \pi(N)  =\# \{ p \lt N \}  \sim \frac{N}{\log N}
                        | so
                        me I_{k}/I_{k-1/2} \sim \sqrt e \ne 1
                        | so #[m L=0] but this cannot happen either.
                        me S_{k-1/2} \ge \pi(e^{k-1/2}) - \pi (e^{k-1})
                        me           \ge e^{k-1} \frac{\sqrt e - 1}k \gt 0
                        | .

    subsection
        title Weyl differencing and the Van der Corput inequality


        theorem
            title Weyl
            statement: p
                | Let
                me P(x) = a_n x^n + a_{n-1} x^{n-1} + \cdots + a_0 \in \RR\lb x\rb
                | then
                me \{P(n)\}
                | is uniformly distributed mod 1 iff there exists #[m n_0 \in \{ 1,\ldots, n\}] s.t. #[m a_{n_0} \not \in \QQ].

        lemma#lem-weyl-diff
            title Weyl differencing
            statement: p
                | Let #[m y_n  \in \CC], such that #[m y_n = 0] if #[m n \lt 1] or #[m n \gt N] then we would like to bound
                me \sum_m \sum_n y_n \overline y_m  = \sum_{m,n=1}^N = S_N \overline S_N = |S_N|^2
                | , #[term Weyl differencing] gives
                me \sum_{m=1}^N \sum_{n=1}^N y_n \overline y_m  = \underbrace{\sum_n |y_n| ^2}_{\text{diagonal contribution}}  + \underbrace{2 \Re \left( \sum_{n=1}^{N-1} \sum_{m=1}^{N-n} y_{n+m} \overline y_m \right) }_{\text{off diagonal terms}}
                | .
            proof
                p
                    | Idea: Use the transformation
                    me n \mapsto n+ m
                    me m \mapsto m
                    me.
                        \begin{pmatrix} n\\ m\end{pmatrix}
                        \begin{pmatrix} 1\amp 1 \\ 0 \amp 1\end{pmatrix}
                    | switch orders
                figure
                    caption Regions
                    image: latex-image.
                        <![CDATA[
                        \begin{tikzpicture}
                            \draw[thick] (-1,0) -- (5,0);
                            \draw[thick] (0,-1) -- (0,5);
                            \filldraw[fill=gray!20!white, draw=gray!20!black] (1,1) -- (1,4) -- (4,4) -- (4,1) -- (1,1);
                            \draw[thick] (7,0) -- (12,0);
                            \draw[thick] (8,-1) -- (8,5);
                            \filldraw[fill=gray!20!white, draw=gray!20!black] (8,1) -- (5,4) -- (8,4) -- (11,1) -- (8,1);
                        \end{tikzpicture}
                        ]]>
                p
                    me \sum_m \sum_n y_n \overline y_m =  \sum_m \sum_n y_{n+m} \overline y_m
                    | Note: if #[m n \ge 0] then #[m m  = 1 ,\ldots, N-n],  #[m n = 0, 1,\ldots, N-1].
                    | If #[m n \lt 0] then
                    me m = 1-n, \ldots, N
                    me n = 1-N, \ldots, -1
                    me \sum_{m=1}^N |y_m|^2 + \sum_{n=1}^{N-1} \sum_{m=1}^{N-n} y_{n+m}\overline y_m +  \sum_{n = -N+1}^{-1} \sum_{m= 1-n}^N y_{m+n} \overline y_m
                    me = \sum_{m=1}^N |y_m| ^2  + 2 \Re \left( \sum_{n=1}^{N-1} \sum _{m=1}^{N-n} y_{n+m} \overline y_m \right)


        theorem
            title Weyl
            statement: p
                | Let #[m |x_n| \to \infty] be a sequence of distinct integers, the set of #[m \alpha \in \RR] such that #[m \alpha x_n] is not uniformly distributed has Lebesgue measure 0.
            proof
                p
                    | Let #[m \alpha \in  \lb 0,1)], let #[m h \in \ZZ \smallsetminus \{ 0 \}]
                    me S_h(N,\alpha) = \frac 1N \sum_{n=1}^N e(hx_n\alpha)
                    | the trick is now to bound #[m |S_h(N,\alpha)|^2]
                    me N^2|S_h(N,\alpha)|^2 = \sum_{n=1}^N 1 +2\Re \left( \sum_{n=1}^{N-1} \sum_{m=1}^{N-n} e(h(x_{n+m} - x_m) \alpha) \right)
                    | so
                    me \int_0^1 |S_h(N,\alpha)|^2 \diff \alpha = \frac 1N
                    | .
                p
                    | Recall Fatou's lemma:
                    | Let #[m f_n  \gt 0] be  sequence of positive measurable functions, then if
                    me f(x) = \liminf f_n(x)
                    | we have
                    me \int f \le \liminf \int f_n
                    | .
                p
                    | Take
                    me f_n(\alpha) = \sum_{N=1}^{n} | S_h (N^2,\alpha)|^2
                    | Fatou implies
                    me  \int_0^1 \sum_{n=1}^\infty |S_h(N^2,\alpha)|^2 \diff \alpha \le \sum_{N=1}^\infty \int_0^1 |S_h(N^2,\alpha)|^2\diff \alpha \lt \infty
                    | so
                    me \sum_{N=1}^\infty  |S_h(N^2 ,\alpha)|^2
                    | is finite for almost all #[m \alpha] and for any #[m h \ne 0].
                    | Then by Weyl's criterion we are done.

        lemma
            title Van der Corput
            statement: p
                | Let #[m y_n  \in \CC], such that #[m y_n = 0] if #[m n \lt 1] or #[m n \gt N] then
                me \forall H \in \ZZ_{\gt 0 }
                | we have
                me \left| \sum_{n=1}^N y_n \right|^2 \le \frac{N+ H} {H+1 } \sum_{n=1}^N |y_n|^2 + \frac{2(N+H)}{H+1} \sum_{h=1}^H \left(1 - \frac h{H+1} \right) \left| \sum_{n=1}^{N-h} y_{n+h} \overline y_n\right|
                | .
            proof
                aside: p Lecture 6 25/9/2018
                p
                    | Consider
                    me (H+ 1)^2 \left| \sum_{n=1}^N y_n\right|^2
                    | then
                    me (H+ 1)^2 \left| \sum_{n=1}^N y_n\right|^2 = \left| \sum_{h= 0  }^H \sum _{n=1}^N y+n\right |^2
                    me = \left|  \sum_{h= 0}^H \sum _{n\in \ZZ} y_{n+h}\right|^2
                    men#eqn-vandercorput = \left|  \sum _{n\in \ZZ}\sum_{h= 0}^H  y_{n+h}\right|^2
                    | note #[m n]-sum is nonzero for at most #[m N+H] terms #[m 1-H \le n \le N] then Cauchy-Schwarz implies
                    me #[xref(ref="eqn-vandercorput")/] \le (N+ H) \sum_n  \left| \sum_{h=0}^H y_{n-h} \right|^2
                    men#eqn-vandercorput2 = (N+H) \sum_n \sum_{h_1 = 0}^H \sum_{h_2 = 0}^H  y_{n+h_1} \overline{y_{n + h_2}}
                    | let #[m m = n + h_2],  #[m l = h_1 - h_2]. Then
                    me #[xref(ref="eqn-vandercorput2")/]  = (N+H) \sum_{-H \le l \le H} \sum_m \overline y_m y_{m-l} \underbrace{\left( \sum_{0\le h_1, h_2 \le H} 1 \right)}_{= I(H,l)}
                    | note #[m I(H,l) = H+1 - |l|], so
                    me #[xref(ref="eqn-vandercorput2")/]  = (N+H) \sum_{-H \le l \le H} H +  1 - |l | \sum_m \overline y_m y_{m-l}
                    | then if #[m l = 0] we get the first term of the statement, #[m l \ne 0] the other.
                    // TODO this is broken

        p
            | What is the difference between this and Weyl differencing?
            | When #[m H] is large, not so much, but we can take #[m H] small now, shifting the weighting around.
            | We change the balance to make one part shorter and the other longer.

        theorem#thm-van-der-corput-diff
            title Van der Corput differencing
            statement: p
                | If for each #[m h \in \ZZ_{\ge 1}] the sequence #[m b_h(n) = a_{n+h} - a_n] then so is #[m a_n].
            proof
                p
                    | We'll use Weyl's criterion and the van der Corput lemma.
                    | Fix, #[m N \in \ZZ_{\ge1}] a #[m H\le N].
                    | Then for any #[m k \in \ZZ\smallsetminus\{0\}]
                    me \left| \sum e( ka_n) \right|^2   \le \frac{ N+H}{H+ 1} N + 2 \frac{ N+H}{H+ 1}  \sum \left(1 - \frac h{H+1} \right) \left| \sum_{n=1}^{N-h} e(b_h(n)k) \right|
                    me \implies \lim_{N \to \infty} \frac{1}{N^2} \left| \sum_{n=1}^N e(ka_n)\right|^2 \le \frac1{H+1}
                    | since #[m H] is arbitrary
                    me \lim_{N \to \infty} \frac{1}{N^2} \left| \sum_{n=1}^N e(ka_n)\right|^2  = 0
                    | .

        proof
            title Proof of Weyl's theorem
            p
                | Let #[m \deg P = d] then, for #[m d = 1] we are done by Weyl's criterion, for #[m d \le D] use van der Corput differencing.
                | Note that  for fixed #[m h], #[m P(n+h) -P(n)] is of lower degree.

    subsection
        title A different perspective (Ergodic)
        // https://personalpages.manchester.ac.uk/staff/charles.walkden/ergodic-theory/ergodic_theory.pdf

        p
            | Furstenberg (1981 book) gives a different proof that #[m \{n ^2 \alpha\}] is uniformly distributed.
            //  Furstenberg, Harry. Recurrence in ergodic theory and combinatorial number theory. Vol. 10. Princeton University Press, 1981.
        paragraphs
            title Ergodic theory 101

            definition#def-ergodic-measure
                title Ergodic measures
                statement: p
                    | Let #[m X] be a locally compact space and #[m H] a non-compact group, #[m H \acts X].
                    | #[m \mu] a probability measure on #[m X],  #[m H]-invariant.
                    | We say that #[m \mu] is an #[term ergodic measure] if any of the following equivalent conditions hold
                    ol
                        li
                            | #[m A \subseteq X] and #[m A ] is #[m H]-invariant (#[m hA = A] for all #[m h \in H]).
                            | Then
                            me \mu(A) = 1 \text{ or } \mu (A) = 0
                            | .
                        li
                            | For #[m f] measurable #[m \mu] almost everywhere #[m H]-invariant
                            me f(hx) = f(x)
                            | for almost all #[m x] then #[m f] is constant #[m \mu] almost everywhere.
                        li
                            | #[m \mu] is an extreme point on the convex set of #[m H]-invariant probability measures.


            definition#def-uniq-ergodic
                title Uniquely ergodic actions
                statement: p
                    | An action of a group #[m H] on a locally compact space #[m X] is #[term uniquely ergodic] if  there is only one invariant probability measure on #[m X].


            example
                statement: p
                    | #[m x\mapsto 5x], or #[m x\mapsto \sqrt2 + x] on #[m T^1] are ergodic, let's show that #[m x\mapsto \sqrt 2 + x] is uniquely ergodic.

            lemma
                statement: p
                    | Let #[m \alpha \in \RR\smallsetminus \QQ] then #[m T_\alpha \colon x  \to x+ \alpha] is uniquely ergodic.
                proof: p
                    | Let #[m \mu] be an invariant probability measure on #[m \lb 0,1\rb] the #[m n]th Fourier coefficient
                    me \hat \mu(n) =  \int e(nx) \diff \mu (x) = e(n\alpha) \int e(nx) \diff \mu (x)
                    | so #[m \hat \mu(n) = \delta(n)].

            example: statement: p
                | For #[m x\mapsto 5x] #[m f = \sum a_ne(nx) = \sum a_n e(5nx)] so #[m a_n = a_{5n}]
                me \infty \gt \| f\|^2 = \|a_n\|^2  \implies a_n = 0 \forall  n \ne 0
                me \implies f \equiv C \text{ a.e.}

            //p
                me T_\alpha \colon T^2 \to T^2
                me (x,y) \mapsto (x+\alpha, 2x+y + \alpha)
                me T^n_\alpha(x,y) = (x+n\alpha, y+ 2nx + n^2 \alpha)
                me (n\alpha, n^2 \alpha)

            aside: p Lecture 7 2/10/2018

            definition#def-equidist
                title Equidistribution
                statement: p
                    | A sequence of probability measures #[m \mu_n] on a locally compact space #[m X] is called #[m \mu]-#[term equidistributed] if they converge to #[m \mu] in the weak #[m \ast] topology.
                    | I.e.
                    me \forall f \in C_c(X),\, \int f\diff \mu_n \to \int f \diff \mu
                    | .

            remark
                p
                    | If we have a sequence #[m a_n] these define a sequence of measures
                    me \mu_N = \frac 1N \sum_{n \le N} \delta( x - a_n)
                    | if these are equidistributed then
                    me \lim_{N \to \infty} \frac 1 N \sum_{n=1}^N f(a_n) = \int_X f(x) \diff \mu (x)
                    |.

            theorem
                title Birkhoff ergodic theorem
                statement: p
                    | #[m (X, B, \mu, T)] a measure preserving system (as in the definition of ergodic) with #[m \mu] a probability measure.
                    | Then for any #[m f \in L^1(X, \mu)]
                    me \lim_{n\to  \infty} \frac 1n \sum_{i=0}^{n-1} f\circ T^i(x) = \bar f (x)
                    | for some #[m \bar f \in L^1( X,\mu)] moreover
                    me \int \bar f \diff \mu = \int f \diff \mu
                    | and if #[m T] is ergodic then #[m \bar f (x) = \int f \diff \mu] almost everywhere.
            remark
                p
                    | This does not help us!
                p
                    | But the following does:
            theorem
                statement: p
                    | If #[m X] is compact and #[m H \cong \RR] is uniquely ergodic with the unique #[m H]-invariant measure #[m \mu] then the statement of Birkhoff holds for every #[m x \in X].
                proof
                    p Sketch
                    p
                        | For any  #[m x] construct
                        me \mu_L = \frac 1 L \int_0^L h_t x \diff t
                        me \mu_L \to \mu, \, L\to \infty
                        | in the weak #[m \ast] sense.

            remark
                title Funny side remark (Benford's law)
                p
                    | First digit of a set of observations are usually 1 (roughly 30#[percent/]).
                p
                    | Why?
                    | Assumption, the process follows a power law, if #[m b^n] is the first digit of this is
                    me \log_{10} b^n = n \log_{10} b
                    | this is #[m k] iff #[m n \log_{10} b \in \lb \log_{10} k , \log_{10} k + 1 \rb].
                    | If these are equidistributed then the probability of #[m k] is
                    me \int_{\log_{10} k}^{\log_{10} k+1} 1 \diff x = \log(1 + 1/k)
                    | .

            theorem
                statement: p
                    | #[m \{n ^2 \alpha\} ] is equidistributed for #[m \alpha \in \RR\smallsetminus \QQ].
                proof
                    p Furstenberg
                    p
                        ol
                            li
                                | Construct a suitable dynamical system on #[m T^2] (2-torus), for which a specific orbit gives the sequence #[m \{n^2 \alpha \}].
                            li
                                | Will show that this is uniquely ergodic.

                        me T \colon T^2 \to T^2
                        me (x,y) \mapsto( x+\alpha, y + 2x + \alpha)
                        me T^n_\alpha(x,y) = (x+n\alpha, y+ 2nx + n^2 \alpha)
                        | in particular the orbit of #[m (0,0)] is
                        me T^n(0,0) = (n\alpha, n^2 \alpha)
                        | so if we show that #[m T^n(0,0)] is equidistributed we are done.
                    p
                        | So we show that #[m X,T] is uniquely ergodic.
                    p
                        ol
                            li Lebesgue is ergodic.
                            li Only ergodic measure

                        ol
                            li
                                me f\in L^2 (T^2, \diff m)
                                | #[m T]-invariant
                                me f(x,y) = \sum_{m,n} a_{m,n} e(mx+ ny)
                                | #[m T]-invariance implies #[m a_{m,n} = e((m+n)\alpha) a_{m+2n,n}]
                                | in particular
                                me |a_{m,n} | = |a_{m+2n,n}|
                                | so
                                me a_{m,n} = 0
                                | if #[m n \ne 0].
                                | By Riemann-Lebesgue lemma.
                                | So for #[m n=  0]
                                me \sum a_{m,0} e(mx)
                                | #[m T]-invariance implies #[m a_{m,0} = e(m\alpha) a_{m,0}] so #[m a_{m,0} = 0] for all #[m m \ne 0].
                                | So #[m f] is constant almost everywhere.
                            li
                                p We use the following:
                                p Claim:
                                p
                                    | #[m g \colon T^1 \to T^1] measurable, let #[m T_g \colon T^2 \to T^2]
                                    me (x,y) \mapsto (x+\alpha, y+ g(\alpha))
                                    | Then if the Lebesgue measure #[m m] is #[m T_g]-ergodic then it indeed is uniquely ergodic.
                                p
                                    | Proof: exercise.
    subsection#subsec-duke
        title Duke's theorem

        paragraphs
            title Recall

            aside: p Lecture 8 4/10/2018
            p
                | #[xref(ref="thm-linnik")/] #[xref(ref="thm-duke")/].
            p
                | We will now prove this, not via Linnik's proof, but via an analogue of Weyl's criterion.
                | Strategy:
                ol
                    li
                        | Weyl's criterion  #[m \leadsto] bounding exponential sums.
                    li
                        | To bound these sums we will use automorphic methods.
            p
                | We will begin with
                | #[xref(ref="thm-linnik")/].
            p
                | So we will be working on #[m S^2].
                | Recall #[xref(ref="thm-weyl-criterion")/] which was for #[m \lb 0,1)].
                | There we used exponentials, why?
                | Because they are a dense, convenient basis, fourier theory.
            p
                | To replace this on the sphere #[m S^2] we use the #[em spherical harmonics], these are homogeneous harmonic polynomials.
                | Analogous with the #[m S^1] case.
                me \left( \frac{x+iy}{|x+iy|}\right)^m = e(m\theta)
                | the same spherical harmonic construction works for #[m S^n].
            p
                | We will show
                me \frac{1}{\# \Omega_n} \sum_{x\in \Omega_n} P(x) \to 0
                | for #[m \deg P(x)  \gt 0].
                | i.e.
                men#eqn-spherical-harmonic-bd \sum_{\alpha \in \ZZ^3,|\alpha|^2 = n} P\left(\frac\alpha{|\alpha|}\right) = o( r_3(n))
                | where
                me r_3(n) =  \# \{ a^2 + b^2 + c^2 = n: a,b,c\in \ZZ\}
                | .
        paragraphs
            title Connection to automorphic forms
            p
                | #[m \theta] functions, #[m P] spherical harmonics as before.
            definition
                statement: p
                    me \theta_P(z) = \sum_{\alpha \in \ZZ^3} P(\alpha) e ( |\alpha|^2 z)
                    | for #[m z\in \HH] this converges.
                    me \theta_P(z) = \sum_{n=0}^\infty r_3(n,P) e(nz)
                    me r_3(n,P) =\sum_{|\alpha|^2 = n} P (\alpha)
                    | .
            fact
                statement: p
                    ol
                        li
                            | This is a modular form of weight #[m \frac 32 +  \deg P] for #[m \Gamma_0(4)].
                        li
                            | It is a cusp form if #[m \deg P \gt 0].
            observation
                p
                    | If #[m \deg P \not  \equiv 0 \pmod 2] this function is #[m 0].
            p
                | To show  #[xref(ref="eqn-spherical-harmonic-bd")/]:
                ol
                    li
                        | Show that
                        me r_3(n) \gg_\epsilon n^{1/2 - \epsilon}
                        | (Gauss-Siegel)
                    li
                        | Show that
                        me r_3(n,P) \ll_\delta n^{k/2 - 1/4 - \delta}
                        | for some #[m \delta \gt 0].
                | Why?
            p
                me \sum_{|\alpha|^2 = n} P\left( \frac{\alpha}{|\alpha|} \right) = n^{-\deg(P)/2} \sum_{|\alpha|^2 = n} P(\alpha)
                me = n^{-\deg(P)/2} r_3(n,P)
                | note:
                me \frac k2 - \frac14 - \delta = \frac 12 + \frac{\deg(P)}{2} - \delta
                | .
            p
                | So if #[m r_3(n,P) \ll n^{(1+\deg(P))/2 - \delta}] which implies
                me  \sum_{|\alpha|^2 = n} P\left( \frac{\alpha}{|\alpha|} \right) \ll n^{\frac 12 - \delta}
                |.

            p
                |  If we knew a half-integral weight Ramanujan conjecture:
                me f \in S_k(N) ,\, k \in \frac 12 + \ZZ_{\gt 0}
                | for squarefree #[m n]
                me a_f(n) = O(n^{(k-1)/2 +\epsilon})
                |.

        paragraphs
            title Digression (#[m \theta]-functions)

            p
                | Recall:
                | Integral weight modular forms
                me \Gamma = \SL_2(\ZZ) = \Gamma(1)
                me \Gamma_\infty = \left\{ \begin{pmatrix} 1\amp n \\ 0 \amp 1\end{pmatrix} : n \in \ZZ\right\}
                | In general #[m \Gamma] congruence subgroup #[m \Gamma(N) \subseteq \Gamma \subseteq \Gamma(1)] for some #[m N].
                me f\colon \HH \to \CC
                | is called a modular form of weight #[m k] for #[m \Gamma] if #[m f] is holomorphic everywhere, including at the cusps.
                me f(\gamma z) =  (cz+ d)^k f(z) \,\forall \gamma \in \Gamma
                | . If #[m f (z) = \sum _{n=1}^\infty a_nq^n] then #[m f] is cuspidal, the space of such is #[m S_k(\Gamma)] where S stands for the German Spitzenform.
                | Spitze means cusp, kinda like a pointy spit?
            example
                statement: p
                    me \Delta(q) = q\prod_{n=1}^\infty (1-q^n)^{24}
                    me E_k(z)= \sum_{(c,d) = 1} \frac{1}{(cz +d)^{2k}}

            conjecture
                title Ramanujan (here theorem of Deligne)
                statement: p
                    | #[m f\in S_k(\Gamma)]
                    me a_n = O_z( n^{(k-1)/2 + \epsilon}) \,\forall \epsilon \gt 0
                    | .
            p
                | Classically
                me \widetilde \theta(z) = \sum_{m\in \ZZ} e^{i \pi m^2z}
                | converges absolutely on #[m z\in \HH]
                me \widetilde \theta(z + 2) =\widetilde \theta(z)
                me \widetilde \theta(-1/z ) = \sqrt{-iz} \widetilde \theta(z)
                | in general for #[m \gamma \in \Gamma_0(4)]
                me \widetilde \theta(\gamma z ) = j(\gamma ; z) \widetilde \theta(z)
                | where #[m j(\gamma;  z) = \legendre cd \epsilon_d^{-1} (cz+d)^{1/2}]
                | where #[m \epsilon_d = 1] if #[m d\equiv 1 \pmod 4],  #[m -1] if  #[m d\equiv 3 \pmod 4] sign of Gauss sum.

                | #[m \legendre cd] is  a sibling of Legendre form.

        aside: p Lecture 9 11/10/2018

        p
            | Recall: #[m P] spherical harmonic degree #[m l ].
            | Aim to show:
            me \sum_{|x|^2 = n} P\left(  x \right) = o( r_3(n))
            |where
            me r_3(n) =  \# \{ a^2 + b^2 + c^2 = n: a,b,c\in \ZZ\}
            | .
        p
            | Took
            me \theta(z; P) = \sum_{n\in \ZZ} r(n; P) e(nz)
            | . A modular form of weight #[m 3/2 + l] for #[m \Gamma_0 (4)].
            | Cusp form if #[m l \gt 0].
        p
            | The strategy is then to show
            me r_3(n)  \gg n^{1/2- \epsilon}\,\forall \epsilon \gt 0
            me r_3(n)  \ll n^{k/2 -1/4 - \delta}\,\text{ for some }\delta \gt 0
            |.

        definition#def-half-integral-mfs
            title Half-integral weight modular forms
            statement: p
                | Let #[m N \equiv 0 \pmod 4].
                | A modular form of #[term half-integral] weight #[m k \in \frac 12 + \ZZ_{\ge 0}].
                | For #[m \Gamma_0(N)] is a holomorphic function on #[m \HH] s.t.
                ol
                    li: me f(\gamma z ) = j(\gamma;  z)^{2k} f(z)
                    li #[m f] is holomorphic at the cusps
                | if #[m \chi\begin{pmatrix}a\amp b \\c \amp d \end{pmatrix} = \chi (d)], #[m  f(\gamma z)  = \chi(d) j(\gamma ; z)^{2k} f(z)] gives the space #[m M_k(\Gamma_0(N), \chi)].
                // TODO check

        p
            | Where do these things come from?

        p
            | A construction due to Schoenberg 1939, Pfetzer 1953, Shimura 1973 is as follows:
        p
            | #[m A] an #[m n \times n] positive definite integral matrix, #[m N \in \ZZ] s.t. #[m N A\inv] is integral, #[m P] a spherical harmonic relative to #[m A] i.e. for #[m P] homogeneous of degree #[m v].
            me \sum_{i,j} \tilde a_{ij} \frac{\partial ^2 P}{\partial x_ix_j} = 0
            me [a_{ij}] = A \inv
        definition
            statement: p
                | Let #[m h\in \ZZ^n], set
                me \tilde \theta_P (z,h,N) = \sum_{m \equiv h \pmod N} P(m) e\left(  \frac{(m^\transpose A m)z}{2N^2} \right)
                | .
        fact
            title Poisson summation
            p
                me \tilde \theta_P (\gamma z, h, N) = e \left( \frac{ab(h^\transpose Ah) }{2N^2}     \right)\left( \frac{\det A}{d} \right) \left( \frac{2c}{d}\right)^n \epsilon_d^{-n} (cz+d)^{k/2} \tilde\theta_P(z; ah, N)
                me \gamma = \begin{pmatrix}a\amp b \\ c \amp d\end{pmatrix} \in \SL_2(\ZZ) : b \equiv 0 \pmod 2,c\equiv 0 \pmod{2N}
                me k = n +2v

        example
            statement: p
                | #[m n = 1, N = 1] #[m P(m) = m^v] #[m v= 0,1]
                me \tilde \theta_P(z) = \sum_{m\in \ZZ} m^v e(m^2z/2)
                | for #[m v=0] this is classical #[m \theta] for #[m v = 1] cusp form on #[m \Gamma_0(8)] of weight #[m 3/2], we could also twist by a character mod 4.
        example
            statement: p
                | #[m A = I_{n \times n}] #[m P] spherical harmonic of degree #[m v]
                me \tilde \theta_P(z; 0, 1) = \sum _{m \in \ZZ^n} P(m) e(|m|^2 z/2)
                | set #[m z=2z]
                me \theta_P(z) = \sum_{m\in \ZZ} P(m) e(|m|^2 z)
                | .
        note
            p
                me \theta_P (z) \in S_k(\Gamma_0(4))
                me k = \frac h2 + v,\,v \gt 0
                me \theta_P (z)\in M_{h/2}(\Gamma_0(4))
                | not cuspidal.
        example
            statement: p
                | #[m A = 4\times 4] integral positive definite
                me Q = Q_A(x),\, x^\transpose A x
                me r_Q(n) = \# \{ x \in \ZZ^4:Q(x) = n\}
                me \theta_Q(z) = \sum_{n=0}^\infty r_Q(n) e(nz) \in M_2(\Gamma_0(N))
                | for some #[m N = 4\det(A)].

        paragraphs
            title Half-integral weight Ramanujan conjecture (Metaplectic)

            p
                | Naively we would like to mimic the integral case and say
                me a_f(n) = O(n^{(k-1)/2 + \epsilon})
                | where #[m f\in S_k(\Gamma)].
            p
                | But this is not true as stated here!:

            example
                statement: p
                    | Let
                    me \theta(z;  \chi) = \sum_{m\in \ZZ} m \chi(m) e(m^2 z)
                    | for odd #[m \chi] this is a cusp form in #[m S_k(\Gamma, \chi)].
                    | For #[m k=3/2], let #[m f =\theta] and
                    me a_f(m^2) \sim m\chi(m) \implies a_f(n) = O(\sqrt{n})
                    | for #[m n] square.
                    | But #[m (k -1)/2= 1/4] but  #[m O(\sqrt n)] is not #[m O(n^{1/4 + \epsilon})] for any #[m \epsilon \ge 1/4].

            p
                | So we avoid these or stick to squarefree #[m n].

            conjecture#conj-half-integral-ramanujan
                title Half-integral weight Ramanujan conjecture
                statement: p
                    me a_f(n) = O(n^{(k-1)/2 + \epsilon})
                    | for all #[m n] square-free #[m f\in S_k(\Gamma, \chi)].

            p
                | Why this exponent?
                | For integral weight:
                | Representation theory gives #[m a_f(m)]'s  which correspond to Hecke eigenvalues which under Langlands are tempered for #[m \GL_N].

            p
                | Digression:
            proposition
                title Hecke bound
                statement: p
                    | #[m f \in S_k(\Gamma)] then #[m a_f(n) = O(n^{k/2})].
                proof: p
                    | #[m y = \Im(z), y(\gamma z) = |cz+d| ^{-2} y] so
                    me F(z) = y^{k/2}  |f(z)|
                    | Invariant on #[m \Gamma] bounded at the cusps #[m |F(z)| \lt M].
                    | So
                    me \int_0^1 f(z) e(nx) = e^{-2 \pi i ny }a_f(n)
                    me \le \int_0^1 y^{-k/2} M = O(y^{-k/2})
                    | so #[m a_f(n) = O(y^{-k/2} e^{2\pi i n y})] with #[m y = 1/n].

        p
            | Another digression:
        p
            | What is the distribution of rational points on #[m S^2]?
            me \{x_1^2 + x_2^2 + x_3^2 = 1: x_i \in \QQ\}
            me \iff r_3(n^2)
        proposition
            title Hurwitz
            statement: p
                | A generating function for this is given by
                me \sum_{n =1}^\infty \frac{r_3(n^2)}{n^s} = 6(1-2^{1-s}) \frac{\overbrace{\zeta(s) \zeta(1-s)}^{=\sum \sigma(n)/n^s}}{L\left(s, \legendre{-1}{\cdot}\right)}
        exercise
            statement: p
                | Prove this!

        aside: p Lecture 10 16/10/2018

        corollary
            statement
                p
                    | This shows
                    me r_3(n^2) \gg n
                    | .
            proof
                p
                    |(Sketch) expand the formula, take #[m n=p] an odd prime
                    me \zeta(s) \zeta(1-s) = \sum \frac{\sigma(n)}{n^s}
                    | (exercise)
                    me L(s, \chi_{-4})\inv = \prod_p(1- \frac{\chi_{-4}(p)}{p^s})
                    | so
                    me \sum \frac{r_3(n^2)}{n^s} = \sum \frac{\sigma(m_1)}{m_1^s} \prod (1 - \chi_{-4}(m_p)/p^s) 6 (1-2^{1-s})
                    me                           = \sum \frac{\sigma(m_1)}{m_1^s} \sum \mu(m_) \chi_{-4}(m_2)/m_2^s 6 (1-2^{1-s})
                    | so
                    me r_3(p^2) = (\sigma(p) - \chi_{-4}(p))6 \ge 6p

        p
            | The next big breakthrough came much later, showing something similar for #[m r_3(n, P)], but now we hope to see cancellation.

        theorem
            title Shimura '71
            statement
                p
                    | Let
                    me f \in S_{k/2}(N,\chi)
                    | be a half integral weight cusp form, #[m k] odd, #[m 4|N].
                    me f(z) = \sum_{n=1}^\infty a_f(n) e(nz)
                    | , assume #[m f] is a common eigenfunction for all #[m T_{p^2}].
                p
                    | Let #[m \widetilde \chi(m) = \chi(m) \chi_{-4}(m)] and #[m \lambda  = (k-1)/2].
                    | Set
                    me \sum_{n=1}^\infty \frac{A(n)}{n^s} = L(s+1 - \lambda , \widetilde \chi) \cdot \left( \sum_{m=1}^\infty   \frac{a_f(m^2)}{m^s}        \right)
                    me F(z) = \sum_{n=1}^\infty A(n) e(nz)
                    | .
                p
                    | Then
                    me F(z) \in S_{2\lambda}(N_1, \chi^2)
                    | .

        p
            | Recall:
            me \theta_P(z) = \sum r_3(n; P) e(nz) \in S_{3/2 + l} (\Gamma_0(4))
            | is a weight #[m 3/2 +l] form if #[m l=  \deg P].
        p
            | Shimura gives us
            me F_P(z) \in S_{2l+2}(\Gamma_0(2))
            | then we get

        corollary
            statement: p
                me r_3(n^2, P) = \sum_{d|n} A_P(d)  \mu\left(\frac nd \right) \chi_{-4}\left(\frac nd\right) \left(\frac nd\right)^l
                | hence if #[m A_P(d) \ll d^{l+1 -\delta}] then we are done.

        p
            | The Hecke bound implies #[m A_P(d) \ll d^{l +1}].

        paragraphs
            title Detour: bounding Fourier coefficients

            p
                | There are various approaches, such as Poincaré series, Kloosterman sums, and bound these, to get a bound on the Fourier coefficient.

            p
                | If #[m f\in S_{k_1} (N_1)] we will write  a spanning set for #[m S_{k_1}(N_1)], then bound fourier coefficients on each of these guys, which will suffice.

            p
                | Poincaré series:
            p
                | If we were just looking for a modular form we might try Eisenstein series
                me E_k(z) = \sum_{c,d} \frac{1}{(cz+d)^{2k}}
                | these are not cuspidal.
                | But if we twist this  a little bit
                me P_m(z; k) = \sum_{\gamma \in \Gamma_\infty \backslash \Gamma} j(\gamma;   z)^{-2k} e(m \gamma z)
                | .
            p
                | Where #[m \Gamma_\infty = \left\{ \begin{pmatrix} 1\amp n \\ 0 \amp 1 \end{pmatrix}\right\}].
                me j(\gamma; z) = \left( \frac cd \right) \epsilon_d \inv (cz+d)^{1/2}
                | they converge absolutely for #[m k \gt 2].

            p
                | Some properties:

            lemma
                statement: p
                    me P_m(\tau z; k) = (cz+d)^{2k}  P_m(z; k)
                proof
                    p
                        | Exercise, #[m j] satisifes a cocycle relation
                        me j(\gamma ; \tau z) j(\tau; z)  = j(\gamma \tau; z)
                        | .
            proposition
                statement: p
                    me P_m(z) \in S_k(\Gamma)
                proof: p
                    | To follow.

            lemma
                statement: p
                    | Let #[m f(z) = \sum a_f(n) e(nz)]
                    me \pair{P_m(z; k) }{ f}_\mathrm{Pet} =\frac{\overline a_f(m) }{(4 \pi m)^{k-1}}\Gamma(k-1)
                    |.
                proof
                    p
                        me \pair{P_m(z; k) }{f}_{\mathrm{Pet}} = \int_{\Gamma \backslash \HH} P_m(z; k) \overline f(z) y^k  \frac{\diff x \diff y }{y^2}
                        me                                     = \int_{\Gamma\backslash  \HH} \sum_{\gamma \in \pm \Gamma_\infty \backslash \Gamma} j(\gamma;   z)^{-2k} e(m \gamma z) \overline f(z) y^k  \frac{\diff x \diff y }{y^2}
                        me                                     = \sum_{\gamma \in \pm \Gamma_\infty \backslash \Gamma}\int_{\Gamma\backslash  \HH}  j(\gamma;   z)^{-2k} e(m \gamma z) \overline f(z) y^k  \frac{\diff x \diff y }{y^2}
                        me                                     = \int_{\Gamma_\infty\backslash  \HH}  e(m z) \overline f(z) y^k  \frac{\diff x \diff y }{y^2}
                        me                                     = \int_0^1 \int_0^\infty e(m z) \overline f(z) y^k  \frac{\diff x \diff y }{y^2}
                        me                                     = \overline a_f(m) \int_0^\infty e(2 m iy ) y^k  \frac{\diff x \diff y }{y^2}
                        me                                     = \frac{\overline a_f(m) }{(4 \pi m)^{k-1}}\Gamma(k-1)

        aside: p Lecture 11 18/10/2018

        corollary
            statement: p
                | #[m P_m(z; k)] span #[m S_k(\Gamma)] as #[m m] varies through integers.
            proof: p
                | If #[m f \perp P_m(z, k)] for all #[m m] then #[m f=  0].

        observation
            p
                | The corollary implies that bounding fourier coefficients of #[m f\in S_k(\Gamma)] is equivalent to bounding fourier coefficients of #[m P_m(z,k)].


        proposition
            statement: p
                me \pair{P_m(z,k)}{P_n(z,k)} = \left( \frac mn \right)^{(k-1)/2} \left(\delta_{m,n} + \frac{2\pi}{i^k} \sum_{c\equiv 0 \pmod N} J_{k-1} \left( \frac{2\pi \sqrt{mn}}{c} \right)\frac{K(m,n; c)}{c}\right)
                | where
                me J_k \text{ is the Bessel function of the first kind}
                me N\text{ s.t. } \Gamma = \Gamma_0(N)
                me K(m,n; c) = \sum _{d\in (\ZZ/c)^\times } \left(\frac cd \right)^{2k} \epsilon_d^{-2k} e\left(\frac {m\overline d + nd}{c}\right)
                me \delta_{m,n} = \begin{cases} 1 \amp m=n,\\ 0 \amp m\ne n\end{cases}
                |.

            proof
                p
                    md
                        mrow \int_0^1 P_m(z,k) e(-nz) \diff z \amp= \int_0^1 \left( \sum_{\pm \Gamma_\infty \backslash \Gamma} j(\gamma ; z) ^{-2k} e(m\gamma z)\right) e(-nz) \diff z
                        mrow                                \amp= \int_0^1 \underbrace{j(1; z)^{-2k} e((m-n)z)}_{\delta_{m,n}} \diff z + \text{rest}
                        mrow                                \amp= \int_0^1 j(1; z)^{-2k} e((m-n)) \diff z + \text{rest}

                p
                    | Note:
                    me e(\begin{pmatrix} 1\amp n \\ 0 \amp 1 \end{pmatrix} z) = e(z)
                    | .
                p
                    | So
                    me \int_0^1\sum_{\Gamma_\infty\backslash \Gamma} j(\gamma; z)^{-2k} e(m \gamma z) \diff z
                    me = \int_0^1sum_{\Gamma_\infty\backslash \Gamma /\Gamma_\infty} \sum_{\gamma_\infty \in \Gamma_\infty} j(\gamma \gamma_\infty z)^{-2k} e(m\gamma \gamma_\infty z) e(-nz) \diff z
                    me \int_0^1 \sum_{\Gamma_\infty\backslash \Gamma /\Gamma_\infty} \sum_{\alpha \in \ZZ} j(\gamma ; z+ \alpha )^{-2k} e(m\gamma (z + \alpha)) e(-nz) \diff z
                    me \int_0^1 \sum_{\Gamma_\infty\backslash \Gamma /\Gamma_\infty} j(\gamma ; z)^{-2k} e(m\gamma z-nz) \diff z

                p
                    | Note:
                    me m\gamma z  = m \frac{az+ b}{cz+d} = m \left( \frac ac - \frac{1}{c(cz+d)}\right)
                    me \pm \Gamma_\infty \backslash \Gamma / \Gamma_\infty  =\{ (a,d,c) : c \gt 0 ,\,a,d \in (\ZZ/c)^\times,\,ad \equiv 1 \pmod c\}

                p
                    | So our main integral is
                    me \sum_{c\gt 0 ,\,d\in \ZZ/c^\times} \epsilon_d^{-2k} \left(\frac cd \right)^{2k}   \int_{-\infty}^\infty \frac{1}{(cz+d)^k} e\left(m\frac ac - \frac{m}{c(cz+d)} -nz\right) \diff z
                    me \sum_{c\gt 0 ,\,d\in \ZZ/c^\times,\,ad\equiv 1 \pmod c} \frac{e((ma+nd)/c)}{c^k} \epsilon_d^{-2k} \left(\frac cd \right)^{2k}   \int_{-\infty}^\infty \frac{1}{z^k} e\left( - \left(zn + \frac{m}{c^2z} \right)\right) \diff z


                p
                    | Then use the following integral representation
                    me \int_{-\infty + iA}^{\infty + iA} w^{-k} e^{-(\mu_1 w + \mu_2 m\inv)} \diff w
                    me  = 2\pi \left(\frac {\mu_1}{\mu_2}\right)^{(k-1)/2} e^{i k \pi / 2} J_{k-1} (4 \pi \sqrt{\mu_1\mu_2})

        p
            | To recap:
            me P_m(z) = \sum_{n=1}^\infty \hat P_m(n) e(nz)
            me \hat P_m(n) = \left( \frac nm \right)^{(k-1)/2} \left\{ \delta_{m,n} + \frac{2\pi}{i^k} \sum_{c\equiv 0 \pmod N,\,c \gt 0} J_{k-1} \left( \frac {4\pi \sqrt{mn}}{c} \right) \frac{K(m,n; c)}{c} \right\}

        p
            | Digression: Let #[m \Gamma = \SL_2(\ZZ)], #[m k= 12] then #[m S_k(\Gamma) = \langle \Delta \rangle]
            me \Delta(z) = (2\pi)^{12} \sum_{n=1}^\infty \tau(n) e(nz)
            | .
        p
            | As #[m \Delta = \eta^{24}] we have #[m \tau(n) \in \ZZ].
        p
            | As
            me P_{m}(z; 12) \in S_{12} (1) = \langle \Delta\rangle
            me \implies P_{m}(z; 12) = \kappa(m) \Delta
            | to calculate #[m \kappa(m)]
            me \pair{P_m(z)}{\Delta} = \frac{\overline a_m}{(4\pi m )^{k-1}}  \Gamma(k-1)  = \frac{2 \pi \overline{\tau (m)}}{(4 \pi m)^{k-1}} \Gamma(k-1) = \frac{2\pi 10!}{(4\pi m )^{11}}
            | so
            me P_m(z) = \frac{2\pi 10!}{(4\pi m )^{11}} \frac{\Delta(z)}{\| \Delta\|^2_{\mathrm{Pet}}} \tau(m)
            |.

        p
            | Another consequence:
        theorem
            title Petersson trace formula
            statement: p
                | For any  #[m m,n \ge 1 ]
                me \frac{\Gamma(k-1)}{ ( 4\pi \sqrt{mn})^{k-1}} \sum_{f\text{ o.n. basis for }S_k(\Gamma)} \overline a_f(m) a_f(n) = \delta_{m,n} +  \frac{2\pi}{i^k} \sum_{c\equiv 0 \pmod N,\,c \gt 0} J_{k-1} \left( \frac {4\pi \sqrt{mn}}{c} \right)  \frac{K(m,n; c)}{c}
                | .
            proof
                p
                    | Let #[m P_m(z) = \sum_f \pair{P_m(z)}{f}f] then
                    me \pair{P_m(z)}{P_n(z)} = \sum_f \overline {a_f(m)} a_f(n) \frac{\Gamma(k-1)^2}{(4 \pi m)^{k-1} (4\pi n )^{k-1}}
                    | on the other hand
                    me \pair{P_m(z)}{P_n(z)} = \frac{\Gamma(k-1)}{(4\pi m)^{k-1}} \left(\frac mn\right)^{(k-1)/2} \left\{ \cdots \right\}
                    | .

        aside: p Lecture 12 23/10/2018

        p
            | Recall Shimura gave us
            me \sum_{n=1}^\infty  \frac{r_3(n^2, P)}{n^s} = \frac{\sum_{n=1}^\infty \frac{A_P(n)}{n^s}}{L(s-l, \chi_{-4})}
            | where the numerators is the #[m L]-function of a modular form of weight #[m 2l + 2] where #[m l = \deg P].
        p
            | We want to show #[m A_P(n) \ll n^{1+l-\delta}] for some #[m \delta \gt 0].

        p
            | Idea:
            | Poincaré series span cusp forms, so its enough to bound Fourier coefficients of these.

        p
            | We know
            me \hat P_m(n) = \left(\frac nm \right)^{(k-1)/2} \left( \delta_{m,n} + 2 \pi i^{-k} \sum_{c \equiv 0 \pmod N,\, c \gt 0}\overbrace{\frac{K(m,n,c)}{c}}^{\sum_{x \pmod{^* c}} e((x m + \overline x n)/c)} J_{k-1} \left(\frac {4 \pi \sqrt{mn}}{c}\right) \right)
            | .
        p
            | Try: Input 1:
            me J_{k-1}(x) \ll \min\{x^{k-1},1/\sqrt{x}\}
            | .
        p
            | Trivial input:
            me | K(m, n; c) | \lt c
            | .

        p
            | For
            me c \gg \sqrt{mn} \leadsto J_{k-1}\left( \frac{4 \pi \sqrt{mn}}{c} \right) \sim \left( \frac{\sqrt{mn}}{c} \right)^{k-1}
            me                  \lt \left(\frac nm \right)^{(k-1)/2} \sum_{c \gg \sqrt{nm}} \frac{1}{c^{k-1}} (mn)^{(k-1)/2}
            me                           \lt n^{k-1} \frac{1}{\sqrt{mn}^{k-2}} = O(n^{k-1 - (k-2)/2})
            | for
            me c \ll \sqrt{mn} \leadsto J_{k-1}\left( \frac{4 \pi \sqrt{mn}}{c} \right) \sim \frac{\sqrt c}{(mn)^{1/4}}
            me \lt \left( \frac nm \right)^{(k-1)/2} \sum_{c\ll \sqrt{nm}} \frac{\sqrt{c}}{(mn)^{1/4}} = O (n^{k/2})
            | .

        p
            | Note #[m k/2 = l+1]:
            | So we are just short, we have #[m O(n^{l+1})] rather than #[m O(n^{l+1-\delta})] for all #[m \delta \gt 0], just by using a stupid bound for #[m K(m,n; c)].

        p
            | More major input (Weil bound):
            me |K(m,n \chi ) | \ll_\epsilon c^{1/2 +\epsilon}
            me \implies | \hat P_m(n) | = O(n^{k/2 - 1/4 + \epsilon})
            | so
            me \forall \epsilon \lt \frac 14
            | this does the job.
        p
            | So we have finished proving Linnik for #[m n^2], it wasn't too bad, the major inputs were the Shimura correspondence.
        p
            | When we move to the general case things will be totally different.

        remark
            p
                | Weil bound comes from the Riemann hypothesis for curves over finite fields.

        lemma
            statement: p
                | Let #[m  p] be an odd prime #[m p\nmid mn].
                me \sum_{x \pmod{^* p},xy=1} e\left( \frac{xm + \overline yn}{p}\right)  = \sum_{x^2 - n \overline m = y^2 \pmod p}          e\left( \frac { 2mx}{p} \right)
            proof
                p
                    | Reparameterise #[m xy =1], #[m x= a+b,y= a-b].
                    | Exercise.

        lemma
            statement: p
                me \sum_{x \pmod p} \legendre{x^2 - n \overline m}{p} e\left( \frac {2m x}{p}\right) = \sum_{x^2 - \overline m n y^2} e\left( \frac{2xm}{p}\right)
                | .
            proof: p
                me \sum_{x \pmod p} \legendre{x^2 - n \overline m}{p} e\left( \frac {2m x}{p}\right) = \sum_{x\pmod p} \left(\legendre{x^2 - n \overline m}{p}  + 1 \right) e\left( \frac {2m x}{p}\right)
                | .

        note
            p
                | LHS is calculating a Fourier coefficient.
                | i.e.
                me h_{m,n} (\alpha) = \legendre{\alpha^2 - \overline m n }{p}
                me \text{LHS} = \hat h(2m)
                | the above two lemmas imply
                me K(m,n ; p)
                | is the Fourier coefficient #[m \hat h_{m,n}(m)].

        p
            |So
            me h(\QQ(\sqrt{u^2 - 4\overline m n})) \sim L\left( 1, \legendre{u^2 - 4 \overline  m n}{\cdot} \right)
            me \text{Selberg trace formula} \leftrightarrow_{\text{Fourier transform}} \text{Petersson trace formula}
            |.


        remark
            p
                | In the non-square case we want #[m |r_3(n,P)| \ll n^{k/2 - 1/4 - \delta}].
        p
            | This is because of the subtlety of the Shimura correspondence.
        p
            | More precisely for #[m n] squarefree #[m n^{k/2 - 1/4 - \delta}]
            me \theta(z; P) \text{ weight } \frac 32 + \deg P = k
            me r_3(n ; P) \gg n^{1/2 - \delta}
            | want
            me r_3(n; P ) \ll n^{k/2 - 1/4 - \delta}
            me \sum_{|\alpha|^2 = n} P\left( \frac{\alpha}{|\alpha|}\right) = |n|^{-\deg P / 2} r_(n ,  P)
            me r_3(n, P )  \lt n^{k/2 - 1/4 - \delta} = n^{3/4 + \deg P/2 - 1/4 - \delta}
        p
            | for #[m n^2]
            me r_3(n^2) \gg n
            | have Shimura
            me \theta(z; P) \leadsto \text{weight }k
            me A_p(n^2)
            | are fourier coefficients of a weight #[m 2 \deg P  + 2] form.

        paragraphs
            title Back to #[m r_3(n,P)]
            p
                | #[m n]-squarefree, we don't  have Shimura, but we still have the Fourier expansion of #[m P_m(z)].

            p
                | Strategy:
                | We will first exploit a certain form of these Kloosterman sums for #[m  \Delta] squarefree, Salié sums.
                | Major detail
                me \sum_c \frac{K(m, n ; c)}{c}
                | will bound these not individually, but by showing that the angles of these cancel.
                | We show other equidistribution results from equidistribution of Kloosterman sums essentially.


