section#sec-equidistribution-intro
    title Equidistribution in Number Theory

    introduction
        aside: p Lecture 1 6/9/2018
        p.
            These are notes for Ali Altuğ's course MA841 at BU Fall 2018.

        p.
            The course webpage is #[url(href="http://math.bu.edu/people/saaltug/2018_3/2018_3_sem.html")/].
        p.
            Course overview:

            Upon Akshay Venkatesh winning the fields medal I decided to dedicate this term to various aspects of equidistribution results in number theory and their relations to L-functions. I am aiming to cover basic results like Linnik's and Duke's theorems, as well as certain aspects of subconvexity. As we move along we may briefly touch several other aspects like quantum unique ergodicity (QUE) or equidistribution in other settings (e.g. over function fields).

            There is an abundance of material on this topic. We will not follow a single book or an article (although the first book and the survey articles following that will be the main reference), however here are a bunch of helpful papers/books. I will update these references as we move along.

    subsection#subsec-equidistribution-introduction
        title Introduction

        blockquote
            p I wasn't going to do this at all, but then Akshay won the Fields medal.
            attribution
                line Ali Altuğ

        p
            | Some topics we will try and cover:
            ol
                li
                    | Linnik's and Duke's theorem 1970-1990
                li
                    | lattice points and hyperbolic geometry
                li
                    | modular forms
                li
                    | spectral theory
                li
                    | modular forms of half integral weight.
                li
                    | harmonic analysis
                li
                    | Kuznetsov formula
                li
                    | Other topics!

    subsection#subsec-linnik-duke
        title Linnik and Duke

        p
            | Akshay's first breakthrough, according to Sarnak, was subconvexity.
            | He became interested in ergodic theory, because they could prove hard theorems, equidistribution is a powerful tool in number theory.

        p
            | Our main goal will be to talk about: Some problems stated (and proved) by Linnik.
            | In the book, Ergodic properties of algebraic fields, 1968.
            | He considered lattice points on a sphere of radius #[m n], these are points (say in #[m \RR^3]) whose coordinates are integral of a fixed distance from the origin.
            | Analogous to the circle problem.
            | If #[m n] is fixed there is nothing to distribute, but if we vary #[m n] and project down we can ask do they accumulate miss any patches, generally how do they distribute.

            | Of course this can be generalised.

        paragraphs
            title Setup

            p
                | Sphere #[m S^2].
            p
                | Lattice points #[m \alpha = (x_1, x_2, x_3) \in \ZZ^3].
            p
                me |\alpha|^2 =  x_1^2 + x_2^2 + x_3^2
                | this is where the number theory comes, we are looking at representability of numbers #[m n] by this ternary quadratic form.
            p
                | Various methods exist for studying this for varying #[m n], quadratic reciprocity for #[m n=2], circle method/Vinogradov for #[m n=4].
                | #[m n=3] is the cut off, here half integral weight modular forms are relevant.

            p
                | Set
                me \Omega_N = \left\{x= \frac{\alpha}{|\alpha|} : \alpha \in \ZZ^2 ,\,|\alpha|^2 = N \right\}\subseteq S^2
                | .

        question
            statement: p
                | Are #[m \Omega_N] #[q equidistributed]  as #[m N \to \infty]?

        p
            | There is an immediate obstruction to #[m N] being a sum of #[m 3] squares, e.g. #[m N = 7] implies #[m \Omega_7 = \emptyset].
        p
            | Recall: (Gauss/Legendre)
            me N = x_1^2 + x_2^2+ x_3^2,\,x_i \in \ZZ \iff N \ne 4^a(8b+7)
            | , so we avoid these sets and ask the same question.

        theorem#thm-linnik
            title Linnik
            statement: p
                | Let #[m f \in \cinf(S^2)], then as #[m N \to \infty], #[m N] squarefree #[m N \not\equiv 7 \pmod 8], #[m \legendre{N}{p} = 1] for some fixed odd prime #[m p]
                me \frac{1}{\# \Omega_N} \sum_{x\in \Omega_N} f(x) \to \int_{S^2} f\diff \sigma
                | where #[m \diff \sigma] is the Lebesgue measure on #[m S^2].

        p
            | This is saying that the points are equidistributed with respect to the Lebesgue measure.

        p
            | The last condition is a defect of the method, known as a Linnik condition.

        remark: p
            | Linnik's proof is ergodic theoretic.
        p
            | After this came Duke in 1988, in the mean time, Weil conjectures were proved, Iwaniec gave bounds for Kloosterman sums.
            | Duke was a graduate student of Sarnak at Courant.

            | He gave a more direct proof of #[xref(ref="thm-linnik")/] which does not have the #[m \legendre{N}{p} = 1] condition.
            | His proof is based on the theory of (half integral weight) modular forms, and a good bound Iwaniec on certain exponential sums.

        p
            | Why do exponential sums enter the picture?
            | We are trying to prove that we have a sum converging to an integral.
            | Generally we work with a basis of functions first, we could try using fourier analysis, using harmonics as our basis, this is when exponential sums appear.
            | That requires us to work out harmonics on the sphere (spherical harmonics) which leads to representation theory, which as the sphere is compact involves Weyl representations etc.
        p
            | Duke also proved #[q the same] theorem over  modular surfaces.
            | Instead of looking at expanding spheres we study expanding hyperboloids.


        paragraphs
            title Setup

            p
                | Space
                me \pm \Gamma\backslash \HH
                me \HH = \left\{ x+iy \in CC : y \gt 0\right\}
                me \Gamma = \SL_2(\ZZ)
                me \mathcal F = \left\{ z\in \HH : -\frac12 \le \Re(z) \le 0, |z| \ge 1 \text{ or }\frac12 \gt \Re(z) \gt 0, |z| \gt 1 \right\}
            figure
                caption #[m \mathcal F]
                image: latex-image.
                    <![CDATA[
                    \begin{tikzpicture}
                        \draw[thick] (-7,0) -- (7,0);
                        \filldraw[fill=gray!20!white, draw=gray!20!white] (1.5,7) -- (1.5,2.598076211) arc (60:120:3cm) -- (-1.5,7) -- (1.5,7);
                        \draw[thick,dotted] (4.5,0) -- (4.5,7);
                        \draw[thick,dotted] (-4.5,0) -- (-4.5,7);
                        \draw[thick,dotted] (6,0) arc (0:180:3cm);
                        \draw[thick,dash dot] (1.5, 2.598076211) -- (1.5,7);
                        \draw[thick,dotted] (1.5, 2.598076211) -- (1.5,0);
                        \draw[thick] (-1.5, 2.598076211) -- (-1.5,7);
                        \draw[thick,dotted] (-1.5, 2.598076211) -- (-1.5,0);
                        \draw[thick,dash dot] (1.5, 2.598076211) arc(60:90:3cm);
                        \draw[thick] (0, 3) arc(90:120:3cm);
                        \draw[thick,dotted] (3,0) arc (0:60:3cm);
                        \draw[thick,dotted] (-1.5, 2.598076211) arc (120:180:3cm);
                        \draw[thick,dotted] (6,0) arc (0:180:3cm);
                        \draw[thick,dotted] (0,0) arc (0:180:3cm);
                        \draw[thick,dotted] (3,0) arc (180:90:3cm);
                        \draw[thick,dotted] (-3,0) arc (0:90:3cm);
                        \draw[thick,dotted] (0,0) arc (0:180:1cm);
                        \draw[thick,dotted] (-3,0) arc (180:0:1cm);
                        \draw[thick,dotted] (-3,0) arc (0:180:1cm);
                        \draw[thick,dotted] (-6,0) arc (180:0:1cm);
                        \draw[thick,dotted] (0,0) arc (180:0:1cm);
                        \draw[thick,dotted] (3,0) arc (0:180:1cm);
                        \draw[thick,dotted] (3,0) arc (180:0:1cm);
                        \draw[thick,dotted] (6,0) arc (0:180:1cm);
                        %\node at (0, 5){$D_w\f M\g$};
                        \node at (0,-.35){$0$};
                        \node at (1.5,-.35){$\frac{1}{2}$};
                        \node at (3,-.35){$1$};
                        \node[inner sep=1.5pt, circle, fill=black]  (p) at (0,3) {};
                        \node at (.15,3.2){$i$};
                        \node[inner sep=1.5pt, circle, fill=black]  (p) at (0,6) {};
                        \node at (.7,6.2){$w=ki$};
                        \node[inner sep=1.5pt, circle, fill=black]  (p) at (1.5,2.598076211) {};
                        %\node at (1.75,2.2){$v_2$};
                        \node at (1.3, 3){$\frac{\pi}{3}$};
                        \node[inner sep=1.5pt, circle, fill=black]  (p) at (-1.5,2.598076211) {};
                        %\node at (-1.25,2.2){$v_1$};
                        \node at (-1.3, 3){$\frac{\pi}{3}$};
                    \end{tikzpicture}
                    ]]>

            p
                | #[m \Omega_N]'s are now replaced with CM points.

        paragraphs
            title Digression (CM points)

            p
                | #[m Q] a binary quadratic form
                me Q(x,y) = ax^2+ bxy + cy^2
                | of discriminant #[m d = b^2-  4ac \lt 0], #[m a,b,c\in \ZZ].
                // TODO do we need a gt 0 here?!

            theorem
                title Gauss
                statement: p
                    | There are only finitely many equivalence classes of such forms for fixed  #[m d].

            p
                | The number of such is given by the Hurwitz class number.
            p
                | Given #[m Q] we associate a CM point
                me z_Q = \frac{-b + \sqrt{d}}{2a} \in \HH
                | .

            p
                | The action of #[m \Gamma] on #[m Q] is the same as the action of #[m \Gamma] on #[m z_Q].
                me z_{\gamma Q }  =\gamma z_Q
                |.

            p
                | Let
                me \Lambda_d  = \{z_Q \in \mathcal F : \disc(Q) = d\}
                | .

            p
                | We need to sum properly to take automorphisms into account.

            definition
                statement: p
                    me \sum{\vphantom{\sum}}^*_{z_Q \in \Lambda_d}
                    | is the sum weighted by #[m \frac 12] if #[m Q = a(x^2+ y^2)] (#[m d= -4]), #[m \frac 13] if #[m Q = a(x^2+ xy+y^2)] (#[m d= -3]).

            p
                | If we want to be fancy we can say the word stack here.

            remark
                p
                    me \sum_{z_Q \in \Lambda_d}{\vphantom{\sum}}^*1 = H(d)
                    | where #[m H(d)] is the Hurwitz class number.


            remark
                p
                    | If #[m d] is fundamental, i.e. a discriminant of some #[m \QQ(\sqrt{d})] then #[m H(d) = h(d)] the regular class number.

        p
            | For the measure on #[m \mathcal F] we take
            me \diff\mu = \frac 3\pi \frac{\diff x \diff y}{y^2}
            |.

        theorem#thm-duke
            title Duke
            statement: p
                | Let #[m f \in \cinf(\HH)], that is #[m \Gamma] invariant and bounded on #[m \mathcal F],  then as #[m d \to \infty] over fundamental discriminants
                me \frac{1}{\# \Lambda_d} \sum_{z\in \Lambda_d}{\vphantom{\sum}}^* f(z) \to \iint_{\mathcal F} f\diff \mu
                | .

        p
            | Equidistribution implies density, but is so much more, for example we cannot have dense points but which happen to cluster towards some line for example.

    subsection#subsec-equidist-basics
        title Basics

        aside: p Lecture 2 11/9/2018

        p
            | Question: Let #[m \alpha \in \RR] and consider #[m \{ \alpha n \}] where #[m \{ x \} = x \pmod 1] so #[m \left\{\frac32\right\} = \frac 12].
            | How are these distributed?

        example
            statement: p
                | If #[m \alpha = \frac 27] then we have #[m \{ \{\alpha n \} : n \in \NN\}  = \{\frac i7 : i \in \{0,\ldots, 6\}\}] and in fact it hits each evenly.


        example
            statement: p
                | If #[m \alpha = \sqrt 2] so #[m \{\alpha\}  \approx 0.4142?...] #[m \{\alpha2\}  \approx 0.8284?...] #[m \{\alpha3\}  \approx 0.24264...] #[m \{\alpha4\}  \approx 0.656854..].
                | These spread out densely, but there is a difference between density and equidistribution.
                | In this example, equidistribution says that the proportion of time the sequence spends in each interval #[m (a,b)] is #[m b -a].

        p
            | So questions are: is #[m \{n\alpha\}] dense?
        p
            | Is #[m \{n \alpha\}] uniformly distributed (equidistributed with respect to the standard measure)?
        p
            | The answer to both questions is yes.

        theorem
            title Kronecker
            statement: p
                | Let #[m \alpha \in \RR\smallsetminus \QQ] then #[m \{n \alpha\}] is dense in #[m \lb 0,1)].

        paragraphs
            title Digression (Diophantine approximation)

            p
                | This is a very tough area of number theory, not so many definitive results here.

            theorem
                title Dirichlet
                statement: p
                    | Let #[m \alpha \in \RR,N\in \ZZ_{\gt 0}] then there exists #[m p,q] with #[m q \gt 0].
                    me \left| q\alpha - p \right| \lt \frac 1N
                    | .
                proof: p
                    | (Pidgeonhole) divide #[m \lb 0, 1)] into even #[m N] subintervals of width #[m \frac 1N], consider
                    me \alpha_0 = 0,\alpha_1 = \left\{ \alpha 1\right\}, \alpha_2 = \left\{ \alpha 2\right\}, \ldots\in \lb 0,1)
                    | as soon as we get to #[m \alpha_N] we must have two in one subinterval say #[m |\alpha_{n_1} - \alpha_{n_2}| \lt \frac 1N].
                    | So there exists #[m p_{n_1}, p_{n_2}] such that
                    me | n_1 \alpha - k_{n_1} - (n_2\alpha - k_{n_2}) | \lt 1N
                    me | (n_1  - n_2)\alpha -( k_{n_1} - k_{n_2}) | \lt 1N
                    | .

            corollary
                statement: p
                    | Let #[m \alpha \in \RR\smallsetminus \QQ] then there exists infinitely many coprime #[m p,q] with #[m q \gt 0] satisfying
                    me \left| \alpha - \frac pq \right| \lt \frac {1}{q^2}
                    | .
                proof: p Exercise.

            p
                | This is very strong, Roth's theorem tells us that even #[m q^{2+\epsilon}] here is enough to force finiteness.

            note: p
                | #[m \alpha \not \in \QQ] is necessary! Otherwise
                me \left | \frac{p_0}{q_0} - \frac pq \right| = \left | \frac{p_0q - pq_0}{qq_0} \right| \ge \frac{\left | p_0q - pq_0 \right|}{\max \left\{q^2 ,q_0^2 \right\}}
                | so choose #[m q \gt q_0] implies #[m \frac {p_0}{q_0} = \frac pq].

            p
                | One can do better:

            theorem
                title Hurwitz
                statement: p
                    | Let #[m \alpha \in \RR\smallsetminus \QQ]
                    me \left| \alpha - \frac pq \right| \lt \frac {1}{\sqrt 5q^2}
                    | then there exists infinitely many coprime #[m p,q] with #[m q \gt 0] satisfying.

            note: p
                | #[m \sqrt 5] is the best possible without further restriction on #[m \alpha].

            example: statement: p
                | If #[m \alpha = \frac{1- \sqrt 5}{2}] then
                me \left| \alpha - \frac pq \right| \lt \frac {1}{\sqrt Aq^2}
                | has only finitely many solutions for #[m A \gt \sqrt 5].

            p
                | What if we allow further restriction?

            theorem
                title Liouville
                statement: p
                    | Let #[m \alpha \in \RR] algebraic of degree #[m n \gt 1].
                    | Then there exists #[m A \gt 0] such that for all #[m p,q] with #[m g \gt 0]
                    me \left| \alpha - \frac pq \right| \gt \frac {A}{q^n}
                    | .
                proof: p
                    | Let #[m f \in \ZZ\lb x \rb] be the minimal polynomial of #[m \alpha].
                    | Gauss's lemma implies that #[m f] is irreducible over #[m \QQ] so
                    me q^n f\left(\frac pq\right)  \in \ZZ \smallsetminus\{0\}\,\forall \frac pq\in \QQ
                    | .
                    | The mean value theorem says that there exists #[m x_0 \in \lb \alpha , p/q )] s.t.
                    me \frac{f(p/q) - \cancelto{0}{f(\alpha)}}{p/q - \alpha} = f'(x_0)
                    | so
                    me \frac{q^nf(p/q) }{q^n f'(x_0)} = |p/q - \alpha|
                    | , notice how #[m n] appears here.

            p
                | This theme of using some calculus is repeated across diophantine analysis.

            remark
                statement: p
                    ul
                        li
                            | Thue: can replace #[m n] with #[m (\deg(\alpha) + 2)/2]
                            | (This already has implications to integral solutions of degree #[m \ge 3] polynomials #[m f \in \ZZ\lb x \rb], e.g. elliptic curves with bounded integral discriminant)
                        li
                            | Roth (#[m \sim] 1958): for all #[m \epsilon \gt 0 ], there are only finitely many #[m p/q] satisfying
                            me | \alpha - \frac pq| \lt  \frac{1}{q^{2+\epsilon}}
                            | .

        paragraphs
            title Back to equidistribution

            p
                | #[m a_n =  \left\{n \alpha\right\} , \left\{a_n\right\}_{n=1}^\infty].

            theorem
                title Kronecker
                statement: p
                    | #[m a_n] is dense in #[m \lb 0,1)] if #[m \alpha \not \in \QQ].
                proof: p
                    | Will show for any #[m x \in \lb 0,1)] there exists
                    me \left\{ a_{n_j}\right\}_{j=1}^\infty\text{ s.t. } a_{n_j} \to x
                    | .
                    | Notation #[m \| x\|] means the distance to the nearest integer.

                    | Dirichlet implies that infinitely many #[m p/q] have #[m \alpha - p/q| \lt 1/q^2].
                    // TODO xref
                    | Given #[m \epsilon \gt 0] let  #[m q] be such that
                    me | \alpha - \frac pq |  \lt \frac{1}{q^2} \implies | q\alpha - p| \lt \frac 1q
                    me \frac 1q \lt \epsilon
                    | Choose #[m j] such that #[m j (\alpha q- p)] is within #[m 1/q] of #[m x] (why?).
                    | So
                    me \| j(\alpha q - p ) -x\| \lt \frac 1q \lt \epsilon
                    |. (Fill in the gaps here).

            p
                | Now let's definie what is means to be uniformly distributed.

            definition#def-unif-dist
                title Uniformly distributed sequence
                statement: p
                    | #[m a_1, a_2, \ldots] is called #[term uniformly distributed] if for all #[m (b,c) \subseteq \lb 0,1)]
                    me \#\left\{ n \le N : \left\{ a_n\right\} \in (b,c) \right\} \sim N(c-b)
                    | .

            p
                | Uniformly distributed or not?
            p
                | When #[m \alpha \in \RR \smallsetminus \QQ]:  #[m \{ n\alpha \}], #[m \{ n^2\alpha \}], #[m \{ (3n^2 + 2n + 1)\alpha \}] #[m \{ (\sqrt 5 n^3  + 2n - (\zeta_{10} + \bar \zeta_{10}))\alpha \}] all are.
            p
                | #[m  \{ n! e \}],  #[m \{\log(n)\}] and #[m \{ \log (p_n)\}] are not.
